In [30]:
# Import necessary libraries & modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
# Load the data
df = pd.read_csv(r'../4_integrated_csv_files/ons_api_data/wellbeing_quarterly.csv')

In [32]:
# Exploring and Understanding the Data

# Basic info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   v4_2                  1960 non-null   float64
 1   LCL                   980 non-null    float64
 2   UCL                   980 non-null    float64
 3   yyyy-qq               1960 non-null   object
 4   Time                  1960 non-null   object
 5   uk-only               1960 non-null   object
 6   Geography             1960 non-null   object
 7   measure-of-wellbeing  1960 non-null   object
 8   MeasureOfWellbeing    1960 non-null   object
 9   wellbeing-estimate    1960 non-null   object
 10  Estimate              1960 non-null   object
 11  seasonal-adjustment   1960 non-null   object
 12  SeasonalAdjustment    1960 non-null   object
dtypes: float64(3), object(10)
memory usage: 199.2+ KB

In [33]:
# Checking the top rows of the dataframe
df.head()

,v4_2,LCL,UCL,yyyy-qq,Time,uk-only,Geography,measure-of-wellbeing,MeasureOfWellbeing,wellbeing-estimate,Estimate,seasonal-adjustment,SeasonalAdjustment
0,7.5,NaN,NaN,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,average-mean,Average (mean),seasonal-adjustment,Seasonally adjusted
1,16.3,15.4,17.2,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,fair,Fair,non-seasonal-adjustment,Non-seasonally adjusted
2,54.1,53.0,55.3,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,good,Good,non-seasonal-adjustment,Non-seasonally adjusted
3,23.7,22.8,24.7,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,very-good,Very good,non-seasonal-adjustment,Non-seasonally adjusted
4,17.3,NaN,NaN,2023-q1,2023 Q1,K02000001,United Kingdom,happiness,Happiness,fair,Fair,seasonal-adjustment,Seasonally adjusted

In [34]:
# Checking the ending rows of the dataframe
df.tail()

,v4_2,LCL,UCL,yyyy-qq,Time,uk-only,Geography,measure-of-wellbeing,MeasureOfWellbeing,wellbeing-estimate,Estimate,seasonal-adjustment,SeasonalAdjustment
1955,49.7,NaN,NaN,2016-q2,2016 Q2,K02000001,United Kingdom,worthwhile,Worthwhile,good,Good,seasonal-adjustment,Seasonally adjusted
1956,4.4,NaN,NaN,2016-q2,2016 Q2,K02000001,United Kingdom,life-satisfaction,Life satisfaction,poor,Poor,seasonal-adjustment,Seasonally adjusted
1957,40.4,39.7,41.0,2016-q2,2016 Q2,K02000001,United Kingdom,happiness,Happiness,good,Good,non-seasonal-adjustment,Non-seasonally adjusted
1958,34.8,34.2,35.5,2016-q2,2016 Q2,K02000001,United Kingdom,happiness,Happiness,very-good,Very good,non-seasonal-adjustment,Non-seasonally adjusted
1959,49.7,49.0,50.4,2016-q2,2016 Q2,K02000001,United Kingdom,worthwhile,Worthwhile,good,Good,non-seasonal-adjustment,Non-seasonally adjusted

In [35]:
# Random Sample of the dataframe
df.sample()

,v4_2,LCL,UCL,yyyy-qq,Time,uk-only,Geography,measure-of-wellbeing,MeasureOfWellbeing,wellbeing-estimate,Estimate,seasonal-adjustment,SeasonalAdjustment
1236,17.7,16.9,18.5,2022-q3,2022 Q3,K02000001,United Kingdom,anxiety,Anxiety,fair,Fair,non-seasonal-adjustment,Non-seasonally adjusted

In [36]:
# Checking the shape of the dataframe
print(df.shape)

(1960, 13)

In [37]:
# Summary statistics of numerical columns
df.describe()

              v4_2         LCL         UCL
count  1960.000000  980.000000  980.000000
mean     21.289235   20.791531   21.790204
std      15.098194   14.886273   15.328285
min       2.800000    2.800000    2.800000
25%       7.700000    7.600000    7.700000
50%      17.100000   16.500000   17.650000
75%      32.900000   32.200000   33.625000
max      55.600000   54.500000   56.700000

In [38]:
# Check for missing values
df.isnull().sum()

v4_2                      0
LCL                     980
UCL                     980
yyyy-qq                   0
Time                      0
uk-only                   0
Geography                 0
measure-of-wellbeing      0
MeasureOfWellbeing        0
wellbeing-estimate        0
Estimate                  0
seasonal-adjustment       0
SeasonalAdjustment        0
dtype: int64

In [39]:
# Check for duplicate rows
df.duplicated().sum()

np.int64(0)

In [40]:
# Remove duplicate columns: 'measure-of-wellbeing', 'wellbeing-estimate', 'seasonal-adjustment'
df = df.drop(['measure-of-wellbeing', 'wellbeing-estimate', 'seasonal-adjustment'], axis=1)

In [41]:
df.head()

,v4_2,LCL,UCL,yyyy-qq,Time,uk-only,Geography,MeasureOfWellbeing,Estimate,SeasonalAdjustment
0,7.5,NaN,NaN,2023-q1,2023 Q1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
1,16.3,15.4,17.2,2023-q1,2023 Q1,K02000001,United Kingdom,Life satisfaction,Fair,Non-seasonally adjusted
2,54.1,53.0,55.3,2023-q1,2023 Q1,K02000001,United Kingdom,Life satisfaction,Good,Non-seasonally adjusted
3,23.7,22.8,24.7,2023-q1,2023 Q1,K02000001,United Kingdom,Life satisfaction,Very good,Non-seasonally adjusted
4,17.3,NaN,NaN,2023-q1,2023 Q1,K02000001,United Kingdom,Happiness,Fair,Seasonally adjusted

In [42]:
# Split the 'Year' column into 'Year' and 'Quarter'
df[['Year', 'Quarter']] = df['Time'].str.split(' ', expand=True)
print(df)

      v4_2   LCL   UCL  yyyy-qq     Time    uk-only       Geography  \
0      7.5   NaN   NaN  2023-q1  2023 Q1  K02000001  United Kingdom
1     16.3  15.4  17.2  2023-q1  2023 Q1  K02000001  United Kingdom
2     54.1  53.0  55.3  2023-q1  2023 Q1  K02000001  United Kingdom
3     23.7  22.8  24.7  2023-q1  2023 Q1  K02000001  United Kingdom
4     17.3   NaN   NaN  2023-q1  2023 Q1  K02000001  United Kingdom
...    ...   ...   ...      ...      ...        ...             ...
1955  49.7   NaN   NaN  2016-q2  2016 Q2  K02000001  United Kingdom
1956   4.4   NaN   NaN  2016-q2  2016 Q2  K02000001  United Kingdom
1957  40.4  39.7  41.0  2016-q2  2016 Q2  K02000001  United Kingdom
1958  34.8  34.2  35.5  2016-q2  2016 Q2  K02000001  United Kingdom
1959  49.7  49.0  50.4  2016-q2  2016 Q2  K02000001  United Kingdom

     MeasureOfWellbeing        Estimate       SeasonalAdjustment  Year Quarter
0     Life satisfaction  Average (mean)      Seasonally adjusted  2023      Q1
1     Life satisfaction            Fair  Non-seasonally adjusted  2023      Q1
2     Life satisfaction            Good  Non-seasonally adjusted  2023      Q1
3     Life satisfaction       Very good  Non-seasonally adjusted  2023      Q1
4             Happiness            Fair      Seasonally adjusted  2023      Q1
...                 ...             ...                      ...   ...     ...
1955         Worthwhile            Good      Seasonally adjusted  2016      Q2
1956  Life satisfaction            Poor      Seasonally adjusted  2016      Q2
1957          Happiness            Good  Non-seasonally adjusted  2016      Q2
1958          Happiness       Very good  Non-seasonally adjusted  2016      Q2
1959         Worthwhile            Good  Non-seasonally adjusted  2016      Q2

[1960 rows x 12 columns]

In [43]:
# Remove additional 'yyyy-qq' column as we have the 'Time' column as well as the 'Year' and 'Quarter
df = df.drop('yyyy-qq', axis=1)

In [44]:
# Rename columns for clarity and standardisation:
df = df.rename({
    'uk-only': 'UK_Only',
    'MeasureOfWellbeing': 'Measure_Of_Wellbeing',
    'SeasonalAdjustment': 'Seasonal_Adjustment'
    }, axis='columns')

In [45]:
df.head()

,v4_2,LCL,UCL,Time,UK_Only,Geography,Measure_Of_Wellbeing,Estimate,Seasonal_Adjustment,Year,Quarter
0,7.5,NaN,NaN,2023 Q1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted,2023,Q1
1,16.3,15.4,17.2,2023 Q1,K02000001,United Kingdom,Life satisfaction,Fair,Non-seasonally adjusted,2023,Q1
2,54.1,53.0,55.3,2023 Q1,K02000001,United Kingdom,Life satisfaction,Good,Non-seasonally adjusted,2023,Q1
3,23.7,22.8,24.7,2023 Q1,K02000001,United Kingdom,Life satisfaction,Very good,Non-seasonally adjusted,2023,Q1
4,17.3,NaN,NaN,2023 Q1,K02000001,United Kingdom,Happiness,Fair,Seasonally adjusted,2023,Q1

In [46]:
# As we are investigating data slightly before and after the peak of Covid-19, we are
# only interested in results from 2017-2023. We can remove any data relating to years 
# prior to 2017.

years_of_interest = ['2017', '2018', '2019', '2020', '2021', '2022', '2023']

# Filter to keep the rows where the specified areas are in our 'Geography' column 
df_filtered = df[df['Year'].isin(years_of_interest)]

# Display the filtered DataFrame
print(df_filtered)

      v4_2   LCL   UCL     Time    UK_Only       Geography  \
0      7.5   NaN   NaN  2023 Q1  K02000001  United Kingdom
1     16.3  15.4  17.2  2023 Q1  K02000001  United Kingdom
2     54.1  53.0  55.3  2023 Q1  K02000001  United Kingdom
3     23.7  22.8  24.7  2023 Q1  K02000001  United Kingdom
4     17.3   NaN   NaN  2023 Q1  K02000001  United Kingdom
...    ...   ...   ...      ...        ...             ...
1875  12.0   NaN   NaN  2017 Q4  K02000001  United Kingdom
1876   4.4   NaN   NaN  2017 Q4  K02000001  United Kingdom
1877   3.7   NaN   NaN  2017 Q4  K02000001  United Kingdom
1878  52.5  51.8  53.2  2017 Q4  K02000001  United Kingdom
1879  48.9   NaN   NaN  2017 Q4  K02000001  United Kingdom

     Measure_Of_Wellbeing        Estimate      Seasonal_Adjustment  Year  \
0       Life satisfaction  Average (mean)      Seasonally adjusted  2023
1       Life satisfaction            Fair  Non-seasonally adjusted  2023
2       Life satisfaction            Good  Non-seasonally adjusted  2023
3       Life satisfaction       Very good  Non-seasonally adjusted  2023
4               Happiness            Fair      Seasonally adjusted  2023
...                   ...             ...                      ...   ...
1875           Worthwhile            Fair      Seasonally adjusted  2017
1876    Life satisfaction            Poor      Seasonally adjusted  2017
1877           Worthwhile            Poor      Seasonally adjusted  2017
1878    Life satisfaction            Good  Non-seasonally adjusted  2017
1879           Worthwhile            Good      Seasonally adjusted  2017

     Quarter
0         Q1
1         Q1
2         Q1
3         Q1
4         Q1
...      ...
1875      Q4
1876      Q4
1877      Q4
1878      Q4
1879      Q4

[1040 rows x 11 columns]

In [47]:
# Reorder columns so 'Year' and 'Quarter' are next to 'Time'
df_filtered=df_filtered[['v4_2', 'LCL', 'UCL', 'Time', 'Year', 'Quarter', 'UK_Only', 'Geography', 'Measure_Of_Wellbeing', 'Estimate', 'Seasonal_Adjustment']]
print(df_filtered)

      v4_2   LCL   UCL     Time  Year Quarter    UK_Only       Geography  \
0      7.5   NaN   NaN  2023 Q1  2023      Q1  K02000001  United Kingdom
1     16.3  15.4  17.2  2023 Q1  2023      Q1  K02000001  United Kingdom
2     54.1  53.0  55.3  2023 Q1  2023      Q1  K02000001  United Kingdom
3     23.7  22.8  24.7  2023 Q1  2023      Q1  K02000001  United Kingdom
4     17.3   NaN   NaN  2023 Q1  2023      Q1  K02000001  United Kingdom
...    ...   ...   ...      ...   ...     ...        ...             ...
1875  12.0   NaN   NaN  2017 Q4  2017      Q4  K02000001  United Kingdom
1876   4.4   NaN   NaN  2017 Q4  2017      Q4  K02000001  United Kingdom
1877   3.7   NaN   NaN  2017 Q4  2017      Q4  K02000001  United Kingdom
1878  52.5  51.8  53.2  2017 Q4  2017      Q4  K02000001  United Kingdom
1879  48.9   NaN   NaN  2017 Q4  2017      Q4  K02000001  United Kingdom

     Measure_Of_Wellbeing        Estimate      Seasonal_Adjustment
0       Life satisfaction  Average (mean)      Seasonally adjusted
1       Life satisfaction            Fair  Non-seasonally adjusted
2       Life satisfaction            Good  Non-seasonally adjusted
3       Life satisfaction       Very good  Non-seasonally adjusted
4               Happiness            Fair      Seasonally adjusted
...                   ...             ...                      ...
1875           Worthwhile            Fair      Seasonally adjusted
1876    Life satisfaction            Poor      Seasonally adjusted
1877           Worthwhile            Poor      Seasonally adjusted
1878    Life satisfaction            Good  Non-seasonally adjusted
1879           Worthwhile            Good      Seasonally adjusted

[1040 rows x 11 columns]

In [48]:
df_filtered.head(25)

,v4_2,LCL,UCL,Time,Year,Quarter,UK_Only,Geography,Measure_Of_Wellbeing,Estimate,Seasonal_Adjustment
0,7.5,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
1,16.3,15.4,17.2,2023 Q1,2023,Q1,K02000001,United Kingdom,Life satisfaction,Fair,Non-seasonally adjusted
2,54.1,53.0,55.3,2023 Q1,2023,Q1,K02000001,United Kingdom,Life satisfaction,Good,Non-seasonally adjusted
3,23.7,22.8,24.7,2023 Q1,2023,Q1,K02000001,United Kingdom,Life satisfaction,Very good,Non-seasonally adjusted
4,17.3,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Happiness,Fair,Seasonally adjusted
5,54.2,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Life satisfaction,Good,Seasonally adjusted
6,13.3,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Fair,Seasonally adjusted
7,7.7,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
8,17.8,16.9,18.7,2023 Q1,2023,Q1,K02000001,United Kingdom,Happiness,Fair,Non-seasonally adjusted
9,43.0,42.0,44.1,2023 Q1,2023,Q1,K02000001,United Kingdom,Happiness,Good,Non-seasonally adjusted
10,32.5,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Very good,Seasonally adjusted
11,18.3,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Anxiety,Fair,Seasonally adjusted
12,7.7,7.7,7.8,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
13,7.3,7.3,7.4,2023 Q1,2023,Q1,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
14,4.6,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Poor,Seasonally adjusted
15,32.1,31.0,33.1,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Very good,Non-seasonally adjusted
16,18.3,17.4,19.2,2023 Q1,2023,Q1,K02000001,United Kingdom,Anxiety,Fair,Non-seasonally adjusted
17,24.6,23.7,25.6,2023 Q1,2023,Q1,K02000001,United Kingdom,Anxiety,Good,Non-seasonally adjusted
18,30.0,29.0,31.0,2023 Q1,2023,Q1,K02000001,United Kingdom,Happiness,Very good,Non-seasonally adjusted
19,9.2,8.5,9.9,2023 Q1,2023,Q1,K02000001,United Kingdom,Happiness,Poor,Non-seasonally adjusted
20,4.6,4.1,5.1,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Poor,Non-seasonally adjusted
21,13.3,12.5,14.1,2023 Q1,2023,Q1,K02000001,United Kingdom,Worthwhile,Fair,Non-seasonally adjusted
22,16.1,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Life satisfaction,Fair,Seasonally adjusted
23,33.3,32.3,34.3,2023 Q1,2023,Q1,K02000001,United Kingdom,Anxiety,Very good,Non-seasonally adjusted
24,33.9,NaN,NaN,2023 Q1,2023,Q1,K02000001,United Kingdom,Anxiety,Very good,Seasonally adjusted

In [49]:
# Remove NaN and replace with blank spaces
df_filtered = df_filtered.fillna('')

In [50]:
# Rearrange data in ascending order from earliest (2017, Q1) to latest (2023, Q4)

# Convert 'Year' to integer
df_filtered['Year'] = df_filtered['Year'].astype(int)

# Convert 'Quarter' to a numerical value (eg: 'Q1'=1, 'Q2'=2)
df_filtered['Quarter'] = df_filtered['Quarter'].astype(str)
df_filtered['Quarter'] = df_filtered['Quarter'].str.extract('(\\d+)').astype(int)

In [51]:
df_sorted = df_filtered.sort_values(by=['Year', 'Quarter'], ascending=[True, True])
df_sorted.head(25)

,v4_2,LCL,UCL,Time,Year,Quarter,UK_Only,Geography,Measure_Of_Wellbeing,Estimate,Seasonal_Adjustment
1520,29.8,29.1,30.4,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Very good,Non-seasonally adjusted
1521,12.2,11.7,12.7,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Fair,Non-seasonally adjusted
1522,34.8,34.1,35.5,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Very good,Non-seasonally adjusted
1523,49.1,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Good,Seasonally adjusted
1524,8.6,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Poor,Seasonally adjusted
1525,40.0,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Good,Seasonally adjusted
1526,7.5,7.4,7.5,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
1527,40.4,39.7,41.1,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Good,Non-seasonally adjusted
1528,7.7,7.6,7.7,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
1529,4.7,4.4,5.0,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Poor,Non-seasonally adjusted
1530,7.9,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
1531,35.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Very good,Seasonally adjusted
1532,16.9,16.3,17.4,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Fair,Non-seasonally adjusted
1533,17.0,16.5,17.6,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Fair,Non-seasonally adjusted
1534,22.9,,,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Good,Seasonally adjusted
1535,33.9,33.2,34.6,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Very good,Non-seasonally adjusted
1536,20.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Poor,Seasonally adjusted
1537,7.9,7.8,7.9,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
1538,49.1,48.4,49.9,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Good,Non-seasonally adjusted
1539,30.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Very good,Seasonally adjusted
1540,39.5,38.8,40.2,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Very good,Non-seasonally adjusted
1541,16.4,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Fair,Seasonally adjusted
1542,4.7,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Poor,Seasonally adjusted
1543,7.7,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
1544,3.0,2.9,3.0,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted

In [52]:
# Reset the index
df_sorted_reset = df_sorted.reset_index(drop=True)

In [53]:
# Final Review and Summary

# Check for missing values after cleaning
df_sorted_reset.isnull().sum()

# Verify the data types again
df_sorted_reset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   v4_2                  1040 non-null   float64
 1   LCL                   1040 non-null   object
 2   UCL                   1040 non-null   object
 3   Time                  1040 non-null   object
 4   Year                  1040 non-null   int64
 5   Quarter               1040 non-null   int64
 6   UK_Only               1040 non-null   object
 7   Geography             1040 non-null   object
 8   Measure_Of_Wellbeing  1040 non-null   object
 9   Estimate              1040 non-null   object
 10  Seasonal_Adjustment   1040 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 89.5+ KB

In [54]:
df_sorted_reset.head(30)

,v4_2,LCL,UCL,Time,Year,Quarter,UK_Only,Geography,Measure_Of_Wellbeing,Estimate,Seasonal_Adjustment
0,29.8,29.1,30.4,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Very good,Non-seasonally adjusted
1,12.2,11.7,12.7,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Fair,Non-seasonally adjusted
2,34.8,34.1,35.5,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Very good,Non-seasonally adjusted
3,49.1,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Good,Seasonally adjusted
4,8.6,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Poor,Seasonally adjusted
5,40.0,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Good,Seasonally adjusted
6,7.5,7.4,7.5,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
7,40.4,39.7,41.1,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Good,Non-seasonally adjusted
8,7.7,7.6,7.7,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
9,4.7,4.4,5.0,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Poor,Non-seasonally adjusted
10,7.9,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
11,35.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Very good,Seasonally adjusted
12,16.9,16.3,17.4,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Fair,Non-seasonally adjusted
13,17.0,16.5,17.6,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Fair,Non-seasonally adjusted
14,22.9,,,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Good,Seasonally adjusted
15,33.9,33.2,34.6,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Very good,Non-seasonally adjusted
16,20.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Poor,Seasonally adjusted
17,7.9,7.8,7.9,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
18,49.1,48.4,49.9,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Good,Non-seasonally adjusted
19,30.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Very good,Seasonally adjusted
20,39.5,38.8,40.2,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Very good,Non-seasonally adjusted
21,16.4,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Fair,Seasonally adjusted
22,4.7,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Poor,Seasonally adjusted
23,7.7,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
24,3.0,2.9,3.0,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
25,20.5,19.9,21.1,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Poor,Non-seasonally adjusted
26,39.8,,,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Very good,Seasonally adjusted
27,13.9,13.4,14.4,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Fair,Non-seasonally adjusted
28,3.8,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Poor,Seasonally adjusted
29,12.2,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Fair,Seasonally adjusted

In [55]:
# Filter data for 'Average (mean)' in the 'Estimates' column for overall trends over the years in each category:

# 1. Filter for "Average (mean)" entries in the Estimate column.
df_avg_mean = df_sorted_reset[df_sorted_reset['Estimate'] == 'Average (mean)']

# 2. Filter for each of the four specific measures of wellbeing in the Measure_Of_Wellbeing column.
measures_of_wellbeing = ['Anxiety', 'Life satisfaction', 'Happiness', 'Worthwhile']

# 3. Combine both filters to get a dataset with only the 'Average (mean)' values for each measure of wellbeing in order 
#   to visualise our results.

df_mean = df_avg_mean[df_avg_mean['Measure_Of_Wellbeing'].isin(measures_of_wellbeing)]

In [56]:
# Display the filtered data
df_mean.head(50)

,v4_2,LCL,UCL,Time,Year,Quarter,UK_Only,Geography,Measure_Of_Wellbeing,Estimate,Seasonal_Adjustment
6,7.5,7.4,7.5,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
8,7.7,7.6,7.7,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
10,7.9,,,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
17,7.9,7.8,7.9,2017 Q1,2017,1,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
23,7.7,,,2017 Q1,2017,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
24,3.0,2.9,3.0,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
31,2.9,,,2017 Q1,2017,1,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted
33,7.5,,,2017 Q1,2017,1,K02000001,United Kingdom,Happiness,Average (mean),Seasonally adjusted
41,2.9,,,2017 Q2,2017,2,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted
43,7.5,,,2017 Q2,2017,2,K02000001,United Kingdom,Happiness,Average (mean),Seasonally adjusted
45,7.7,,,2017 Q2,2017,2,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
49,2.9,2.9,2.9,2017 Q2,2017,2,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
52,7.6,7.5,7.6,2017 Q2,2017,2,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
54,7.9,,,2017 Q2,2017,2,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
58,7.7,7.7,7.7,2017 Q2,2017,2,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
60,7.9,7.9,7.9,2017 Q2,2017,2,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
83,7.5,,,2017 Q3,2017,3,K02000001,United Kingdom,Happiness,Average (mean),Seasonally adjusted
85,7.5,7.5,7.6,2017 Q3,2017,3,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
95,7.9,,,2017 Q3,2017,3,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
102,7.7,,,2017 Q3,2017,3,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
104,2.9,2.9,2.9,2017 Q3,2017,3,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
105,2.9,,,2017 Q3,2017,3,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted
107,7.7,7.7,7.7,2017 Q3,2017,3,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
111,7.9,7.9,7.9,2017 Q3,2017,3,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
124,7.5,7.5,7.5,2017 Q4,2017,4,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
129,7.9,,,2017 Q4,2017,4,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
143,7.7,7.6,7.7,2017 Q4,2017,4,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
144,7.7,,,2017 Q4,2017,4,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
146,7.9,7.8,7.9,2017 Q4,2017,4,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
148,2.9,,,2017 Q4,2017,4,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted
150,7.5,,,2017 Q4,2017,4,K02000001,United Kingdom,Happiness,Average (mean),Seasonally adjusted
153,2.9,2.9,3.0,2017 Q4,2017,4,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
167,7.9,,,2018 Q1,2018,1,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
169,2.9,,,2018 Q1,2018,1,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted
172,7.4,7.4,7.5,2018 Q1,2018,1,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
175,7.7,7.6,7.7,2018 Q1,2018,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
183,2.9,2.8,2.9,2018 Q1,2018,1,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
186,7.7,,,2018 Q1,2018,1,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
188,7.5,,,2018 Q1,2018,1,K02000001,United Kingdom,Happiness,Average (mean),Seasonally adjusted
190,7.9,7.8,7.9,2018 Q1,2018,1,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
201,7.6,7.6,7.7,2018 Q2,2018,2,K02000001,United Kingdom,Happiness,Average (mean),Non-seasonally adjusted
209,7.9,7.9,7.9,2018 Q2,2018,2,K02000001,United Kingdom,Worthwhile,Average (mean),Non-seasonally adjusted
221,7.7,,,2018 Q2,2018,2,K02000001,United Kingdom,Life satisfaction,Average (mean),Seasonally adjusted
224,7.7,7.7,7.7,2018 Q2,2018,2,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
229,2.8,,,2018 Q2,2018,2,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted
230,7.6,,,2018 Q2,2018,2,K02000001,United Kingdom,Happiness,Average (mean),Seasonally adjusted
231,2.8,2.8,2.8,2018 Q2,2018,2,K02000001,United Kingdom,Anxiety,Average (mean),Non-seasonally adjusted
237,7.9,,,2018 Q2,2018,2,K02000001,United Kingdom,Worthwhile,Average (mean),Seasonally adjusted
247,7.7,7.7,7.7,2018 Q3,2018,3,K02000001,United Kingdom,Life satisfaction,Average (mean),Non-seasonally adjusted
249,2.9,,,2018 Q3,2018,3,K02000001,United Kingdom,Anxiety,Average (mean),Seasonally adjusted

In [57]:
# Filter the Seasonal_Adjustment column to include only 'Non-seasonally adjusted' 
df_mean_nsa = df_mean[df_mean['Seasonal_Adjustment'] == 'Non-seasonally adjusted']

In [60]:
output_path = r'../6_cleaned_files/ons_api_data/measures_of_wellbeing_uk_2017_2023_cleaned.csv'
df_mean_nsa.to_csv(output_path, index=False)