# Labour Market Statistics Cleaning & Pre Processing
## 1. Importing required modules & libraries

In [1]:
import pandas as pd

## 2. Loading the data

In [2]:
labour_market_statistics_df = pd.read_csv(r'../1_raw_files/ons_labour_market_statistics/Labour Market Statistics.csv', low_memory=False)

## 3. Inspecting the data
### As you can see there are 1527 columns and 1831 rows!

In [3]:
labour_market_statistics_df.shape

(1527, 1831)

In [4]:
labour_market_statistics_df[:10]

,Title,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Total Pay,Employment rate Canada (OECD) seasonally adjusted,Employment Rate Japan (OECD) seasonally adjusted,Employment Rate United States (OECD) seasonally adjusted,...,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Luxembourg - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Netherlands - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Austria - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Portugal - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Finland - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Sweden - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United Kingdom Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD
0,CDID,A2F9,A2FA,A2FC,A3WV,A3WW,A3WX,A48O,A48P,A48Q,...,ZXDQ,ZXDR,ZXDS,ZXDT,ZXDU,ZXDV,ZXDW,ZXDX,ZXDY,ZXDZ
1,PreUnit,NaN,NaN,£,NaN,NaN,£,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Release Date,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,...,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024,12-11-2024
4,Next release,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,...,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024,17 December 2024
5,Important Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### I would like to first cut the data down by year to years greater than 2017, to do so I will filter the dataframe to get all rows after the first 5.

In [5]:
labour_market_statistics_df = labour_market_statistics_df[6:]

### I then make a metric which takes a date in and returns a year and apply it to the dataframe. Finally I will filter the dataframe. I also use this time to get a list of dates which remain. I would like to restructure the data with the statistic as the row and the date data as the column.

In [6]:
def return_year(date):
    year = date[:4]
    return int(year)

In [7]:
labour_market_statistics_df['year'] = labour_market_statistics_df['Title'].apply(return_year)

In [8]:
labour_market_statistics_df = labour_market_statistics_df[labour_market_statistics_df['year'] > 2017]

In [9]:
list_dates = labour_market_statistics_df['Title'].unique().tolist()

In [10]:
# labour_market_statistics_df

### Obtaining a list of all the metrics available
#### This allows me to pull them out into categories as you can see there are 1832 categories which is quite a challenge to comprehend. I used this guide to the labour market statistic https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/methodologies/aguidetolabourmarketstatistics to get a feeling for the statistics available and add them to lists of groups, this will help structure my analysis and report

In [11]:
list_of_metrics = labour_market_statistics_df.columns.tolist()

##### uncomment to review all metrics:

In [12]:
for item in list_of_metrics:
    print(item)

Title
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay
AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay
AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Total Pay
Employment rate Canada (OECD) seasonally adjusted
Employment Rate Japan (OECD) seasonally adjusted
Employment Rate United States (OECD) seasonally adjusted
Standardised ILO unemployment rates, seasonally adjusted, Romania - Eurostat
Standardised ILO unemployment rates, seasonally adjusted, Bulgaria - Eurostat
Standardised ILO Unemployment rates - Total EU
International Comparison Employment rates - Romania
International Comparison employment rates - Bulgaria
International Comparison - Employment rates - Total EU
International Comparison Employment Rates - Cyprus
International Comparison Employment Rates - Czech Republic
International Comparison Employment Rates - Estonia
International Comparison Employment Rates - Hungary
International Comparison Employment Rates - Latvia
International Comparison Employment Rates - Lithuania
International Comparison Employment Rates - Malta
International Comparison Employment Rates - Poland
International Comparison Employment Rates - Slovak Republic
International Comparison Employment Rates - Slovenia
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Cyprus Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Czech Republic Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Estonia Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Hungary Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Latvia Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Lithuania Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Malta Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Poland Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Slovak Republic Eurostat
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Slovenia Eurostat
LFS: In employment: Aged 16-17: Not in full-time education: UK: All: 000s: SA
LFS: In employment: Aged 18-24: Not in full-time education: UK: All: 000s: SA
LFS: In employment: Aged 16-24: Not in full-time education: UK: All: 000s: SA
LFS: In employment: Aged 16-17: Not in full-time education: UK: Male: 000s: SA
LFS: In employment: Aged 18-24: Not in full-time education: UK: Male: 000s: SA
LFS: In employment: Aged 16-24: Not in full-time education: UK: Male: 000s: SA
LFS: In employment: Aged 16-17: Not in full-time education: UK: Female: 000s: SA
LFS: In employment: Aged 18-24: Not in full-time education: UK: Female: 000s: SA
LFS: In employment: Aged 16-24: Not in full-time education: UK: Female: 000s: SA
LFS: In employment: Aged 16-17: In full-time education: UK: All: 000s: SA
LFS: In employment: Aged 18-24: In full-time education: UK: All: 000s: SA
LFS: In employment: Aged 16-24: In full-time education: UK: All: 000s: SA
LFS: In employment: Aged 16-17: In full-time education: UK: Male: 000s: SA
LFS: In employment: Aged 18-24: In full-time education: UK: Male: 000s: SA
LFS: In employment: Aged 16-24: In full-time education: UK: Male: 000s: SA
LFS: In employment: Aged 16-17: In full-time education: UK: Female: 000s: SA
LFS: In employment: Aged 18-24: In full-time education: UK: Female: 000s: SA
LFS: In employment: Aged 16-24: In full-time education: UK: Female: 000s: SA
LFS: Unemployed: Aged 16-17: Not in full-time education: UK: All: 000s: SA
LFS: Unemployed: Aged 18-24: Not in full-time education: UK: All: 000s: SA
LFS: Unemployed: Aged 16-24: Not in full-time education: UK: All: 000s: SA
LFS: Unemployed: Aged 16-17: Not in full-time education: UK: Male: 000s: SA
LFS: Unemployed: Aged 18-24: Not in full-time education: UK: Male: 000s: SA
LFS: Unemployed: Aged 16-24: Not in full-time education: UK: Male: 000s: SA
LFS: Unemployed: Aged 16-17: Not in full-time educ.: UK: Female: 000s: SA
LFS: Unemployed: Aged 18-24: Not in full-time educ.: UK: Female: 000s: SA
LFS: Unemployed: Aged 16-24: Not in full-time educ.: UK: Female: 000s: SA
LFS: Unemployed: Aged 16-17: In full-time education: UK: All: 000s: SA
LFS: Unemployed: Aged 18-24: In full-time education: UK: All: 000s: SA
LFS: Unemployed: Aged 16-24: In full-time education: UK: All: 000s: SA
LFS: Unemployed: Aged 16-17: In full-time education: UK: Male: 000s: SA
LFS: Unemployed: Aged 18-24: In full-time education: UK: Male: 000s: SA
LFS: Unemployed: Aged 16-24: In full-time education: UK: Male: 000s: SA
LFS: Unemployed: Aged 16-17: In full-time education: UK: Female: 000s: SA
LFS: Unemployed: Aged 18-24: In full-time education: UK: Female: 000s: SA
LFS: Unemployed: Aged 16-24: In full-time education: UK: Female: 000s: SA
LFS: Econ. inactive: Aged 16-17: Not in full-time education: UK: All: 000s: SA
LFS: Econ. inactive: Aged 18-24: Not in full-time education: UK: All: 000s: SA
LFS: Econ. inactive: Aged 16-24: Not in full-time education: UK: All: 000s: SA
LFS: Econ. inactive: Aged 16-17: Not in full-time education: UK: Male: 000s: SA
LFS: Econ. inactive: Aged 18-24: Not in full-time education: UK: Male: 000s: SA
LFS: Econ. inactive: Aged 16-24: Not in full-time education: UK: Male: 000s: SA
LFS: Econ. inactive: Aged 16-17: Not in full-time education.: UK: Female: 000s: SA
LFS: Econ. inactive: Aged 18-24: Not in full-time education.: UK: Female: 000s: SA
LFS: Econ. inactive: Aged 16-24: Not in full-time education.: UK: Female: 000s: SA
LFS: Econ. inactive: Aged 16-17: In full-time education: UK: All: 000s: SA
LFS: Econ. inactive: Aged 18-24: In full-time education: UK: All: 000s: SA
LFS: Econ. inactive: Aged 16-24: In full-time education: UK: All: 000s: SA
LFS: Econ. inactive: Aged 16-17: In full-time education: UK: Male: 000s: SA
LFS: Econ. inactive: Aged 18-24: In full-time education: UK: Male: 000s: SA
LFS: Econ. inactive: Aged 16-24: In full-time education: UK: Male: 000s: SA
LFS: Econ. inactive: Aged 16-17: In full-time education: UK: Female: 000s: SA
LFS: Econ. inactive: Aged 18-24: In full-time education: UK: Female: 000s: SA
LFS: Econ. inactive: Aged 16-24: In full-time education: UK: Female: 000s: SA
LFS: Employment rate: Aged 16-24: UK: All: %: SA
LFS: Employment rate: Aged 16-24: UK: Male: %: SA
LFS: Employment rate: Aged 16-24: UK: Female: %: SA
LFS: Employment rate: Aged 16-17: Not in full-time education: UK: All: %: SA
LFS: Employment rate: Aged 18-24: Not in full-time education: UK: All: %: SA
LFS: Employment rate: Aged 16-24: Not in full-time education: UK: All: %: SA
LFS: Employment rate: Aged 16-17: Not in full-time education: UK: Male: %: SA
LFS: Employment rate: Aged 18-24: Not in full-time education: UK: Male: %: SA
LFS: Employment rate: Aged 16-24: Not in full-time education: UK: Male: %: SA
LFS: Employment rate: Aged 16-17: Not in full-time education: UK: Female: %: SA
LFS: Employment rate: Aged 18-24: Not in full-time education: UK: Female: %: SA
LFS: Employment rate: Aged 16-24: Not in full-time education: UK: Female: %: SA
LFS: Employment rate: Aged 16-17: In full-time education: UK: All: %: SA
LFS: Employment rate: Aged 18-24: In full-time education: UK: All: %: SA
LFS: Employment rate: Aged 16-24: In full-time education: UK: All: %: SA
LFS: Employment rate: Aged 16-17: In full-time education: UK: Male: %: SA
LFS: Employment rate: Aged 18-24: In full-time education: UK: Male: %: SA
LFS: Employment rate: Aged 16-24: In full-time education: UK: Male: %: SA
LFS: Employment rate: Aged 16-17: In full-time education: UK: Female: %: SA
LFS: Employment rate: Aged 18-24: In full-time education: UK: Female: %: SA
LFS: Employment rate: Aged 16-24: In full-time education: UK: Female: %: SA
LFS: Unemployment rate: Aged 16-17: Not in full-time educ.: UK: All: %: SA
LFS: Unemployment rate: Aged 18-24: Not in full-time educ.: UK: All: %: SA
LFS: Unemployment rate: Aged 16-24: Not in full-time educ.: UK: All: %: SA
LFS: Unemployment rate: Aged 16-17: Not in full-time educ.: UK: Male: %: SA
LFS: Unemployment rate: Aged 18-24: Not in full-time educ.: UK: Male: %: SA
LFS: Unemployment rate: Aged 16-24: Not in full-time educ.: UK: Male: %: SA
LFS: Unemployment rate: Aged 16-17: Not in full-time educ.: UK: Female: %: S
LFS: Unemployment rate: Aged 18-24: Not in full-time educ.: UK: Female: %: S
LFS: Unemployment rate: Aged 16-24: Not in full-time educ.: UK: Female: %: S
LFS: Unemployment rate: Aged 16-17: In full-time educ.: UK: All: %: SA
LFS: Unemployment rate: Aged 18-24: In full-time educ.: UK: All: %: SA
LFS: Unemployment rate: Aged 16-24: In full-time educ.: UK: All: %: SA
LFS: Unemployment rate: Aged 16-17: In full-time educ.: UK: Male: %: SA
LFS: Unemployment rate: Aged 18-24: In full-time educ.: UK: Male: %: SA
LFS: Unemployment rate: Aged 16-24: In full-time educ.: UK: Male: %: SA
LFS: Unemployment rate: Aged 16-17: In full-time educ.: UK: Female: %: SA
LFS: Unemployment rate: Aged 18-24: In full-time educ.: UK: Female: %: SA
LFS: Unemployment rate: Aged 16-24: In full-time educ.: UK: Female: %: SA
LFS: Economic inactivity rate: Aged 16-24: UK: All: %: SA
LFS: Economic inactivity rate: Aged 16-24: UK: Male: %: SA
LFS: Economic inactivity rate: Aged 16-24: UK: Female: %: SA
LFS: Econ. inactivity rate: Aged 16-17: Not in full-time educ.: UK: All: %: SA
LFS: Econ. inactivity rate: Aged 18-24: Not in full-time educ.: UK: All: %: SA
LFS: Econ. inactivity rate: Aged 16-24: Not in full-time educ.: UK: All: %: SA
LFS: Econ. inactivity rate: Aged 16-17: Not in full-time educ.: UK: Male: %: SA
LFS: Econ. inactivity rate: Aged 18-24: Not in full-time educ.: UK: Male: %: SA
LFS: Econ. inactivity rate: Aged 16-24: Not in full-time educ.: UK: Male: %: SA
LFS: Econ. inact. rate: Aged 16-17: Not in full-time educ.: UK: Female: %: SA
LFS: Econ. inact. rate: Aged 18-24: Not in full-time educ.: UK: Female: %: SA
LFS: Econ. inact. rate: Aged 16-24: Not in full-time educ.: UK: Female: %: SA
LFS: Econ. inactivity rate: Aged 16-17: In full-time educ.: UK: All: %: SA
LFS: Econ. inactivity rate: Aged 18-24: In full-time educ.: UK: All: %: SA
LFS: Econ. inactivity rate: Aged 16-24: In full-time educ.: UK: All: %: SA
LFS: Econ. inactivity rate: Aged 16-17: In full-time educ.: UK: Male: %: SA
LFS: Econ. inactivity rate: Aged 18-24: In full-time educ.: UK: Male: %: SA
LFS: Econ. inactivity rate: Aged 16-24: In full-time educ.: UK: Male: %: SA
LFS: Econ. inactivity rate: Aged 16-17: In full-time educ.: UK: Female: %: SA
LFS: Econ. inactivity rate: Aged 18-24: In full-time educ.: UK: Female: %: SA
LFS: Econ. inactivity rate: Aged 16-24: In full-time educ.: UK: Female: %: SA
UK Vacancies by size of enterprise - 1-9 employed (thousands)
UK Vacancies by size of enterprise - 10-49 employed (thousands)
UK Vacancies by size of enterprise - 50-249 employed (thousands)
UK Vacancies by size of enterprise - 250-2499 employed (thousands)
UK Vacancies by size of enterprise - 2500+ employed (thousands)
United Kingdom employment rate (EUROSTAT version)
UK Vacancies (thousands) - Total
UK Job Vacancies ratio per 100 emp jobs - Total
Labour disputes; working days lost due to strike action; UK (thousands)
UK Employee Jobs SA : Total (thousands)
LFS: ILO redundancy level (thousands): UK: All: SA
LFS: Econ inactive: Look after family/home: UK: Male: 000s: SA
LFS: Economically inactive: UK: Male: Does not want job: %: SA
LFS: Econ inactive: Wants a Job: Students: UK: Male: 000s: SA
LFS: Econ inactive: Does not want a Job: Other: UK: Male: %: SA
LFS: Economically Inactive: UK: Male: Aged 16-64: %: SA
LFS: Econ inactive: Temp Sick: UK: Male: 000s: SA
LFS: Econ inactive: Long Term Sick: UK: Male: 000s: SA
LFS: Econ inactive: Retired: UK: Male: 000s: SA
LFS: Econ inactive: Other: UK: Male: 000s: SA
LFS: Econ inactive: Students: UK: Male: %: SA
LFS: Econ inactive: Look after family/home: UK: Male: %: SA
LFS: Econ inactive: Temp Sick: UK: Male: %: SA
LFS: Econ inactive: Long Term Sick: UK: Male: %: SA
LFS: Econ inactive: Discouraged Worker: UK: Male: %: SA
LFS: Econ inactive: Retired: UK: Male: %: SA
LFS: Econ inactive: Students: UK: Male: 000s: SA
LFS: Econ inactive: Other: UK: Male: %: SA
LFS: Economically inactive: UK: Male: Wants a job: %: SA
LFS: Econ inactive: Wants a Job: Temp Sick: UK: Male: 000s: SA
LFS: Econ inactive: Wants a Job: Students: UK: Male: %: SA
LFS: Econ inactive: Wants a Job: Look after family/home: UK: Male: %: SA
LFS: Econ inactive: Wants a Job: Temp Sick: UK: Male: %: SA
LFS: Econ inactive: Wants a Job: Other: UK: Male: 000s: SA
LFS: Econ inactive: Wants a Job: Long Term Sick: UK: Male: %: SA
LFS: Econ inactive: Wants a Job: Discouraged Worker: UK: Male: %: SA
LFS: Econ inactive: Wants a Job: Other: UK: Male: %: SA
LFS: ILO redundancy rate: UK: All: SA
LFS: ILO redundancy level (thousands): UK: Men: SA
LFS: Econ inactive: Does not want a Job: Students: UK: Male: 000s: SA
LFS: ILO redundancy rate: UK: Men: SA
LFS: Econ inactive: Does not want a Job: Look after family/home: UK: Male: 000s:
LFS: ILO redundancy level (thousands): UK: Women: SA
LFS: Econ inactive: Does not want a Job: Temp Sick: UK: Male: 000s: SA
LFS: Econ inactive: Does not want a Job: Students: UK: Male: %: SA
LFS: ILO redundancy rate: UK: Women: SA
LFS: Econ inactive: Does not want a Job: Long Term Sick: UK: Male: 000s: SA
LFS: Econ inactive: Does not want a Job: Look after family/home: UK: Male: %: SA
LFS: Econ inactive: Does not want a Job: Temp Sick: UK: Male: %: SA
LFS: Econ inactive: Does not want a Job: Other: UK: Male: 000s: SA
LFS: Econ inactive: Does not want a Job: Long Term Sick: UK: Male: %: SA
LFS: Econ inactive: Does not want a Job: Retired: UK: Male: %: SA
LM Structure: UK:Female:econ activity rate, not in FTE16-17%QTRS=SeasonsNSA
LFS: Econ. inactivity does not want a job: Total: UK: male:%
Labour disputes; number of workers involved in period; UK (thousands)
Labour disputes; number of stoppages in progress; UK
Economically inactive Rate:Total (16-64):ALL:%
Unemployment level by country of birth (16+) - UK born: Thousands
Unemployment level by nationality (16+) - UK national: Thousands
Unemployment rate by country of birth (16+) - UK born: %
Unemployment rate by nationality (16+) - UK national: %
Unemployment level by country of birth (16+) - Non-UK born: Thousands
Unemployment level by nationality (16+) - Non-UK national: Thousands
Unemployment rate by country of birth (16+) - Non-UK born: %
Unemployment rate by nationality (16+) - Non-UK national: %
Unemployment level by country of birth (16+) - Total EU (EU27): Thousands
Unemployment level by nationality (16+) - Total EU (EU27): Thousands
Unemployment rate by country of birth (16+) - Total EU (EU27): %
Unemployment rate by nationality (16+) - Total EU (EU27): %
Unemployment level by country of birth (16+) - Total Non-EU: Thousands
Unemployment level by nationality (16+) - Total Non-EU: Thousands
Unemployment rate by country of birth (16+) - Total Non-EU: %
Unemployment rate by nationality (16+) - Total Non-EU: %
Economically inactive: total by country of birth (16-64): UK born: thousands
UK Workforce Jobs SA : Total (thousands)
GB Workforce Jobs SA : Total (thousands)
Economically inactive: total by nationality (16-64): UK national: thousands
Economically inactive: total by country of birth (16-64): UK born: %
Economically inactive: total by nationality (16-64): UK national: %
Economically inactive: student by country of birth (16-64): UK born: thousands
Economically inactive: student by nationality (16-64): UK national: thousands
Economically inactive: total by country of birth (16-64): Non-UK born: thousands
Economically inactive: total by nationality (16-64): Non-UK national: thousands
Economically inactive: total by country of birth (16-64): Non-UK born: %
Economically inactive: total by nationality (16-64): Non-UK national: %
Economically inactive: student by country of birth (16-64): Non-UK born: thousands
Economically inactive: student by nationality (16-64): Non-UK national: thousands
Economically inactive: total by country of birth (16-64): EU (EU27) born: thousands
Economically inactive: total by nationality (16-64): EU (EU27) national: thousands
Economically inactive: total by country of birth (16-64): EU (EU27) born: %
Economically inactive: total by nationality (16-64): EU (EU27) national: %
Economically inactive: student by country of birth (16-64): EU (EU27) born: thousands
Economically inactive: student by nationality (16-64): EU (EU27) national: thousands
Economically inactive: total by country of birth (16-64): Non-EU (EU27) born: thousands
Economically inactive: total by nationality (16-64): Non-EU (EU27) national: thousands
Economically inactive: total by country of birth (16-64): non-EU (EU27) born: %
UK Self-employment jobs SA : Total (thousands)
Economically inactive: total by nationality (16-64): non-EU (non-EU27) national: %
Economically inactive: student by country of birth (16-64): Non-EU (EU27) born: thousands
Economically inactive: student by nationality (16-64): Non-EU (EU27) national: thousands
Employment levels by country of birth (16+) - Total EU(EU27)
Employment levels by country of birth (16+) - Romania and Bulgaria
Employment levels by country of birth (16+) - Total non-EU
Employment levels by nationality (16+) - Total EU(EU27)
Employment levels by nationality (16+) - Romania and Bulgaria
Employment levels by nationality (16+) - Total non-EU
Total EU(EU27) employment rate NSA country of birth
Romania and Bulgaria employment rate NSA country of birth
Total non-EU employment rate NSA country of birth
Total EU(EU27) employment rate NSA nationality
Romania and Bulgaria employment rate NSA nationality
Total non-EU employment rate NSA nationality
Labour disputes; working days lost due to strike action; public sector (thousands)
Labour disputes; working days lost due to strike action; private sector (thousands)
Labour disputes; number of stoppages in progress; public sector
Labour disputes; number of stoppages in progress; private sector
Employment levels by country of birth (16+) - Total Europe
Employment levels by country of birth (16+) - Other EU-Cyprus, Malta and Croatia
Employment levels by country of birth (16+) - Other Europe (not in EU)
Employment levels by country of birth (16+) - Total Africa
Employment levels by country of birth (16+) - Total Asia
Employment levels by country of birth (16+) - Total America and Oceania
Employment levels by nationality (16+) - Total Europe
Employment levels by nationality (16+) - Other EU-Cyprus, Malta and Croatia
Employment levels by nationality (16+) - Other Europe (not in EU)
Employment levels by nationality (16+) - Total Africa
Employment levels by nationality (16+) - Total Asia
Employment levels by nationality (16+) - Total America and Oceania
Employment rates by country of birth (16+) - Total Europe
Employment rates by country of birth (16+) - Other EU-Cyprus, Malta and Croatia
Employment rates by country of birth (16+) - Other Europe (not in EU)
Employment rates by country of birth (16+) - Total Africa
Employment rates by country of birth (16+) - Total Asia
Employment rates by country of birth (16+) - Total America and Oceania
Employment rates by nationality (16+) - Total Europe
Employment rates by  nationality (16+) - Other EU-Cyprus, Malta and Croatia
Employment rates by nationality (16+) - Other Europe (not in EU)
Employment rates by  nationality (16+) - Total Africa
Employment rates by nationality (16+) - Total Asia
Employment rates by  nationality (16+) - Total America and Oceania
LFS: ILO Unemployment rate annual change: UK: All: Aged 16 and over (pp): SA
LFS: Employment rate annual change: UK: All: Aged 16-64 (pp): SA

In [13]:
# pd.DataFrame(list_of_metrics)

In [14]:
print(len(list_of_metrics))

1832

### 1. Earnings Statistics. 

#### The metrics relating to earnings are under the AWE heading, all of the metrics in the database are separated by a colon which can be used to extract rich data for different demographic groups

In [15]:
average_weekly_earnings_metrics = []

for metric in list_of_metrics:
    if metric[:3] == 'AWE':
        average_weekly_earnings_metrics.append(metric)

In [16]:
len(average_weekly_earnings_metrics)

87

In [17]:
for item in average_weekly_earnings_metrics:
    print(item)

AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay
AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay
AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Total Pay
AWE: Services Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Services Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Finance and Business Services Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Finance and Business Services Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Finance and Business Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Manufacturing Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Manufacturing Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Manufacturing Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Construction Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Construction Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Construction Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Distribution, Hotels and Restaurants Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Distribution, Hotels and Restaurants Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Distribution, Hotels & Restaurants Year/Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Services Level (£): Seasonally Adjusted Bonus
AWE: Services Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Finance and Business Services Level (£): Seasonally Adjusted Bonus
AWE: Finance and Business Services Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Finance and Business Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Manufacturing Level (£): Seasonally Adjusted Bonus
AWE: Manufacturing Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Manufacturing Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Construction Level (£): Seasonally Adjusted Bonus
AWE: Construction Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Construction Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Distribution, Hotels and Restaurants Level (£): Seasonally Adjusted Bonus
AWE: Distribution, Hotels and Restaurants Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Distribution, Hotels and Restaurants Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Services Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Services Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Finance and Business Services Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Finance and Business Services Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Finance and Business Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Manufacturing Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Manufacturing Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Manufacturing Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Construction Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Construction Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Construction Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Distribution, Hotels and Restaurants Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Distribution, Hotels and Restaurants Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Distribution, Hotels & Restaurants Year/Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Exc Arrears
AWE: Whole Economy Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Whole Economy Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Whole Economy Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Private Sector Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Private Sector Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Private Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Public Sector Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Public Sector Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Public Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Public Sector Excluding Financial Services Level (£): Seasonally Adjusted Total Pay Excluding Arrears
AWE: Public Sector Excluding Financial Services Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay Exc Arrears
AWE: Public Sector Excluding Financial Services Yr/Yr Three Month Average Growth (%): Seasonally Adjusted Total Pay Exc Arrears
AWE: Whole Economy Level (£): Seasonally Adjusted Bonus
AWE: Whole Economy Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Whole Economy Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Private Sector Level (£): Seasonally Adjusted Bonus
AWE: Private Sector Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Private Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Public Sector Level (£): Seasonally Adjusted Bonus
AWE: Public Sector Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Public Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Public Sector Excluding Financial Services Level (£): Seasonally Adjusted Bonus
AWE: Public Sector Excluding Financial Services Year on Year Single Month Growth (%): Seasonally Adjusted Bonus
AWE: Public Sector Excluding Financial Services Year on Year Three Month Average Growth (%): Seasonally Adjusted Bonus
AWE: Whole Economy Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Whole Economy Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Whole Economy Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Private Sector Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Private Sector Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Private Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Public Sector Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Public Sector Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Public Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Public Sector Excluding Financial Services Level (£): Seasonally Adjusted Regular Pay Excluding Arrears
AWE: Public Sector Excluding Financial Services Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Exc Arrears
AWE: Public Sector Excluding Financial Services Yr/Yr Three Month Average Growth (%): Seasonally Adjusted Regular Pay Exc Arrears

In [18]:
metrics_list = ['whole_metric', 'sector', 'category']
metric_list = metrics_list + list_dates   
average_weekly_earnings_df = pd.DataFrame(columns=metric_list)

for metric in average_weekly_earnings_metrics:
    whole_metric = [metric][0]
    sector = metric.split(': ')[1]
    category = metric.split(': ')[2]
    
    row_data = {
    'whole_metric': whole_metric,
    'sector': sector,
    'category': category
    }
    
    for date in list_dates: 
        row_data[date] = None
    
    row_df = pd.DataFrame([row_data])
    
    average_weekly_earnings_df = pd.concat([average_weekly_earnings_df, row_df], ignore_index=True)

In [19]:
average_weekly_earnings_df

,whole_metric,sector,category,2018,2019,2020,2021,2022,2023,2024,...,2023 DEC,2024 JAN,2024 FEB,2024 MAR,2024 APR,2024 MAY,2024 JUN,2024 JUL,2024 AUG,2024 SEP
0,AWE: Whole Economy Real Terms Year on Year Sin...,Whole Economy Real Terms Year on Year Single M...,Seasonally Adjusted Regular Pay,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,AWE: Whole Economy Real Terms Year on Year thr...,Whole Economy Real Terms Year on Year three Mo...,Seasonally Adjusted Regular Pay,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,AWE: Whole Economy Real Terms Level (£): Seaso...,Whole Economy Real Terms Level (£),Seasonally Adjusted Regular Pay,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,AWE: Whole Economy Real Terms Year on Year Sin...,Whole Economy Real Terms Year on Year Single M...,Seasonally Adjusted Total Pay,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,AWE: Whole Economy Real Terms Year on Year Thr...,Whole Economy Real Terms Year on Year Three Mo...,Seasonally Adjusted Total Pay,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,AWE: Public Sector Year on Year Single Month G...,Public Sector Year on Year Single Month Growth...,Seasonally Adjusted Regular Pay Excluding Arrears,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
83,AWE: Public Sector Year on Year Three Month Av...,Public Sector Year on Year Three Month Average...,Seasonally Adjusted Regular Pay Excluding Arrears,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
84,AWE: Public Sector Excluding Financial Service...,Public Sector Excluding Financial Services Lev...,Seasonally Adjusted Regular Pay Excluding Arrears,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
85,AWE: Public Sector Excluding Financial Service...,Public Sector Excluding Financial Services Yea...,Seasonally Adjusted Regular Pay Exc Arrears,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
86,AWE: Public Sector Excluding Financial Service...,Public Sector Excluding Financial Services Yr/...,Seasonally Adjusted Regular Pay Exc Arrears,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
average_weekly_earnings_df.set_index('whole_metric', inplace=True)

In [21]:
metric = 'AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay'

In [22]:
for metric in average_weekly_earnings_metrics:
    filter_lms_dataframe = labour_market_statistics_df.copy()
    filter_lms_dataframe = filter_lms_dataframe[['Title', metric]]
    for i in range(len(filter_lms_dataframe)):
        date_period = filter_lms_dataframe.iloc[i]['Title']
        value = filter_lms_dataframe.iloc[i][metric]
        average_weekly_earnings_df.at[metric, f'{date_period}'] = value

In [23]:
average_weekly_earnings_df

,sector,category,2018,2019,2020,2021,2022,2023,2024,2018 Q1,...,2023 DEC,2024 JAN,2024 FEB,2024 MAR,2024 APR,2024 MAY,2024 JUN,2024 JUL,2024 AUG,2024 SEP
whole_metric,,,,,,,,,,,,,,,,,,,,,
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay,Whole Economy Real Terms Year on Year Single M...,Seasonally Adjusted Regular Pay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,1.7,2.0,2.5,2.7,2.4,2.3,1.9,1.5,2.2
AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay,Whole Economy Real Terms Year on Year three Mo...,Seasonally Adjusted Regular Pay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8,1.9,1.9,2.1,2.4,2.5,2.4,2.2,1.9,1.9
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay,Whole Economy Real Terms Level (£),Seasonally Adjusted Regular Pay,462,470,475,487,476,477,NaN,459,...,481,481,482,484,486,487,488,488,488,490
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay,Whole Economy Real Terms Year on Year Single M...,Seasonally Adjusted Total Pay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,1.4,2.1,2.2,2.4,2.2,0.3,1.0,1.5,1.6
AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay,Whole Economy Real Terms Year on Year Three Mo...,Seasonally Adjusted Total Pay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4,1.5,1.7,1.9,2.2,2.3,1.6,1.2,0.9,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AWE: Public Sector Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears,Public Sector Year on Year Single Month Growth...,Seasonally Adjusted Regular Pay Excluding Arrears,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.1,6.2,6.8,6.0,6.4,5.6,5.2,4.8,4.2
AWE: Public Sector Year on Year Three Month Average Growth (%): Seasonally Adjusted Regular Pay Excluding Arrears,Public Sector Year on Year Three Month Average...,Seasonally Adjusted Regular Pay Excluding Arrears,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.9,6.0,6.1,6.4,6.3,6.4,6.0,5.7,5.2,4.7
AWE: Public Sector Excluding Financial Services Level (£): Seasonally Adjusted Regular Pay Excluding Arrears,Public Sector Excluding Financial Services Lev...,Seasonally Adjusted Regular Pay Excluding Arrears,520,537,558,577,592,629,NaN,514,...,647,653,653,659,657,662,662,663,663,664
AWE: Public Sector Excluding Financial Services Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay Exc Arrears,Public Sector Excluding Financial Services Yea...,Seasonally Adjusted Regular Pay Exc Arrears,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.2,6.8,6.0,6.5,5.6,5.0,4.7,3.9
AWE: Public Sector Excluding Financial Services Yr/Yr Three Month Average Growth (%): Seasonally Adjusted Regular Pay Exc Arrears,Public Sector Excluding Financial Services Yr/...,Seasonally Adjusted Regular Pay Exc Arrears,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.9,6.0,6.1,6.3,6.3,6.4,6.0,5.7,5.1,4.5

In [24]:
threshold = len(average_weekly_earnings_df) * 0.5

average_weekly_earnings_df.dropna(axis=1, thresh=threshold, inplace=True)

In [25]:
def remove_seasonally_adjusted(string):
    return string.split("Seasonally Adjusted ")[-1]

In [26]:
average_weekly_earnings_df['category'] = average_weekly_earnings_df['category'].apply(remove_seasonally_adjusted)

In [27]:
def unit(string):
    if string[-2] == '%':
        return "percentage %"
    if string[-2] == '£':
        return "pounds £"

In [28]:
average_weekly_earnings_df['unit'] = average_weekly_earnings_df['sector'].apply(unit)

In [29]:
last_column = average_weekly_earnings_df.columns[-1]
columns = list(average_weekly_earnings_df.columns)
columns.remove(last_column)
columns.insert(2, last_column)
average_weekly_earnings_df = average_weekly_earnings_df[columns]

In [30]:
df_reset = average_weekly_earnings_df.reset_index(drop=True)

In [31]:
df_reset

,sector,category,unit,2018 JAN,2018 FEB,2018 MAR,2018 APR,2018 MAY,2018 JUN,2018 JUL,...,2023 DEC,2024 JAN,2024 FEB,2024 MAR,2024 APR,2024 MAY,2024 JUN,2024 JUL,2024 AUG,2024 SEP
0,Whole Economy Real Terms Year on Year Single M...,Regular Pay,percentage %,0.0,0.4,0.7,0.4,0.3,0.4,0.8,...,1.9,1.7,2.0,2.5,2.7,2.4,2.3,1.9,1.5,2.2
1,Whole Economy Real Terms Year on Year three Mo...,Regular Pay,percentage %,-0.2,0.1,0.3,0.5,0.5,0.4,0.5,...,1.8,1.9,1.9,2.1,2.4,2.5,2.4,2.2,1.9,1.9
2,Whole Economy Real Terms Level (£),Regular Pay,pounds £,458,459,461,460,460,461,462,...,481,481,482,484,486,487,488,488,488,490
3,Whole Economy Real Terms Year on Year Single M...,Total Pay,percentage %,-0.2,0.0,0.4,0.6,0.4,-0.1,1.0,...,1.6,1.4,2.1,2.2,2.4,2.2,0.3,1.0,1.5,1.6
4,Whole Economy Real Terms Year on Year Three Mo...,Total Pay,percentage %,-0.2,0.0,0.1,0.3,0.4,0.3,0.4,...,1.4,1.5,1.7,1.9,2.2,2.3,1.6,1.2,0.9,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Public Sector Year on Year Single Month Growth...,Regular Pay Excluding Arrears,percentage %,2.3,2.5,2.5,2.4,1.8,2.5,2.9,...,6.0,6.1,6.2,6.8,6.0,6.4,5.6,5.2,4.8,4.2
83,Public Sector Year on Year Three Month Average...,Regular Pay Excluding Arrears,percentage %,2.0,2.3,2.4,2.5,2.2,2.2,2.4,...,5.9,6.0,6.1,6.4,6.3,6.4,6.0,5.7,5.2,4.7
84,Public Sector Excluding Financial Services Lev...,Regular Pay Excluding Arrears,pounds £,513,515,515,515,517,519,522,...,647,653,653,659,657,662,662,663,663,664
85,Public Sector Excluding Financial Services Yea...,Regular Pay Exc Arrears,percentage %,2.3,2.5,2.5,2.4,1.9,2.6,2.9,...,6.0,6.0,6.2,6.8,6.0,6.5,5.6,5.0,4.7,3.9
86,Public Sector Excluding Financial Services Yr/...,Regular Pay Exc Arrears,percentage %,2.1,2.3,2.4,2.5,2.3,2.3,2.5,...,5.9,6.0,6.1,6.3,6.3,6.4,6.0,5.7,5.1,4.5

In [32]:
df_reset.to_csv(r'../4_integrated_csv_files/ons_labour_market_statistics/average_weekly_earnings.csv', index=False)

### 2. Unemployment Statistics

#### From my reading of the documentation I understand that the metrics relating to unemployment are under the labour force survey (LFS) and the particular ones of interest are those

In [33]:
unemployment_metrics = []

for metric in list_of_metrics:
    if metric[:3] == 'LFS' and 'unemployment' in metric.lower() and 'ilo' in metric.lower() and 'lfs experimental' not in metric.lower():
        unemployment_metrics.append(metric)

### I have a look at all the words in the metric to see which columns I should make for my dataframe:

In [34]:
unemployment_metrics

['LFS: ILO Unemployment rate annual change: UK: All: Aged 16 and over (pp): SA',
 'LFS: ILO Unemployment Level Annual Change: UK: All: Aged 16 and over (thousands): SA',
 'LFS: ILO Unemployment quarterly change: UK: All: Aged 16 and over (thousands): SA',
 'LFS: ILO Unemployment rate quarterly change: UK: All: Aged 16 and over (pp): SA',
 'LFS: ILO Unemployment: UK: All: Aged 65+: Thousands: SA',
 'LFS: ILO Unemployment: Females: Aged 65+: Thousands: SA',
 'LFS: ILO unemployment rate: UK: All: Aged 65+: %: SA',
 'LFS: ILO unemployment rate: UK: Female: Aged 65+: %: SA',
 'LFS: ILO unemployment rate: UK: All: Aged 50-64: %: SA',
 'LFS: ILO unemployment rate: UK: Female: Aged 50-64: %: SA',
 'LFS: ILO Unemployment rate: UK: All: Aged 16-64: %: SA',
 'LFS: ILO Unemployment rate: UK: Female: Aged 16-64: %: SA',
 'LFS: ILO unemployment rate: UK: All: Aged 16 and over: %: NSA',
 'LFS: ILO unemployment rate: UK: Male: Aged 16 and over: %: NSA',
 'LFS: ILO unemployment rate: UK: Female: Aged 16 and over: %: NSA',
 'LFS: ILO unemployment rate: UK: Male: Aged 50-64: %: SA',
 'LFS: ILO unemployment rate: UK: Male: Aged 65+: %: SA',
 'LFS: ILO unemployment rate: Aged 25-34: UK: All: %: SA',
 'LFS: ILO unemployment rate: Aged 25-34: UK: Male: %: SA',
 'LFS: ILO unemployment rate: Aged 25-34: UK: Female: %: SA',
 'LFS: ILO unemployment rate: Aged 35-49: UK: All: %: SA',
 'LFS: ILO unemployment rate: Aged 35-49: UK: Male: %: SA',
 'LFS: ILO unemployment rate: Aged 35-49: UK: Female: %: SA',
 'LFS: ILO unemployment rate: North East: All: %: SA',
 'LFS: ILO unemployment rate: North West (GOR): All: %: SA',
 'LFS: ILO unemployment rate: Yorks & the Humber: All: %: SA',
 'LFS: ILO unemployment rate: East Midlands: All: %: SA',
 'LFS: ILO unemployment rate: West Midlands: All: %: SA',
 'LFS: ILO unemployment rate: East: All: %: SA',
 'LFS: ILO unemployment rate: London: All: %: SA',
 'LFS: ILO unemployment rate: South East (GOR): All: %: SA',
 'LFS: ILO unemployment rate: South West: All: %: SA',
 'LFS: ILO unemployment rate: England: All: %: SA',
 'LFS: ILO unemployment rate: Wales: All: %: SA',
 'LFS: ILO unemployment rate: Scotland: All: %: SA',
 'LFS: ILO unemployment rate: Great Britain: All: %: SA',
 'LFS: ILO unemployment rate: North East: Male: %: SA',
 'LFS: ILO unemployment rate: North West (GOR): Male: %: SA',
 'LFS: ILO unemployment rate: Yorks & the Humber: Male: %: SA',
 'LFS: ILO unemployment rate: East Midlands: Male: %: SA',
 'LFS: ILO unemployment rate: West Midlands: Male: %: SA',
 'LFS: ILO unemployment rate: East: Male: %: SA',
 'LFS: ILO unemployment rate: London: Male: %: SA',
 'LFS: ILO unemployment rate: South East (GOR): Male: %: SA',
 'LFS: ILO unemployment rate: South West: Male: %: SA',
 'LFS: ILO unemployment rate: England: Male: %: SA',
 'LFS: ILO unemployment rate: Wales: Male: %: SA',
 'LFS: ILO unemployment rate: Scotland: Male: %: SA',
 'LFS: ILO unemployment rate: Great Britain: Male: %: SA',
 'LFS: ILO unemployment rate: North East: Female: %: SA',
 'LFS: ILO unemployment rate: North West (GOR): Female: %: SA',
 'LFS: ILO unemployment rate: Yorks & the Humber: Female: %: SA',
 'LFS: ILO unemployment rate: East Midlands: Female: %: SA',
 'LFS: ILO unemployment rate: West Midlands: Female: %: SA',
 'LFS: ILO unemployment rate: East: Female: %: SA',
 'LFS: ILO unemployment rate: London: Female: %: SA',
 'LFS: ILO unemployment rate: South East (GOR): Female: %: SA',
 'LFS: ILO unemployment rate: South West: Female: %: SA',
 'LFS: ILO unemployment rate: England: Female: %: SA',
 'LFS: ILO unemployment rate: Wales: Female: %: SA',
 'LFS: ILO unemployment rate: Scotland: Female: %: SA',
 'LFS: ILO unemployment rate: Great Britain: Female: %: SA',
 'LFS: ILO unemployment rate: Aged 16-24: UK: All: %: NSA',
 'LFS: ILO unemployment rate: Aged 16-24: UK: Male: %: NSA',
 'LFS: ILO unemployment rate: Aged 16-24: UK: Female: %: NSA',
 'LFS: ILO unemployment rate: Northern Ireland: All: %: SA',
 'LFS: ILO unemployment rate: Northern Ireland: Male: %: SA',
 'LFS: ILO unemployment rate: Northern Ireland: Female: %: SA']

In [35]:
set_words = set()
for metric in unemployment_metrics:
    for word in metric.split(": "):
        set_words.add(word)
set_words

{'%',
 'Aged 16 and over',
 'Aged 16 and over (pp)',
 'Aged 16 and over (thousands)',
 'Aged 16-24',
 'Aged 16-64',
 'Aged 25-34',
 'Aged 35-49',
 'Aged 50-64',
 'Aged 65+',
 'All',
 'East',
 'East Midlands',
 'England',
 'Female',
 'Females',
 'Great Britain',
 'ILO Unemployment',
 'ILO Unemployment Level Annual Change',
 'ILO Unemployment quarterly change',
 'ILO Unemployment rate',
 'ILO Unemployment rate annual change',
 'ILO Unemployment rate quarterly change',
 'ILO unemployment rate',
 'LFS',
 'London',
 'Male',
 'NSA',
 'North East',
 'North West (GOR)',
 'Northern Ireland',
 'SA',
 'Scotland',
 'South East (GOR)',
 'South West',
 'Thousands',
 'UK',
 'Wales',
 'West Midlands',
 'Yorks & the Humber'}

### From the above I grouped the metrics into categories This will be important to allow us to understand the data and plot visualisations

In [36]:
sectors = [
    'LFS'
]

categories = [
    'ILO Unemployment',
    'ILO Unemployment Level Annual Change',
    'ILO Unemployment quarterly change',
    'ILO Unemployment rate',
    'ILO Unemployment rate annual change',
    'ILO Unemployment rate quarterly change',
    'ILO unemployment rate'
]

regions = [
    'East',
    'East Midlands',
    'England',
    'Great Britain',
    'Scotland',
    'South East (GOR)',
    'South West',
    'London',
    'UK',
    'Wales',
    'West Midlands',
    'Yorks & the Humber',
    'North East',
    'North West (GOR)',
    'Northern Ireland'
]

ages = [
    'Aged 16 and over',
    'Aged 16 and over (pp)',
    'Aged 16 and over (thousands)',
    'Aged 16-24',
    'Aged 16-64',
    'Aged 25-34',
    'Aged 35-49',
    'Aged 50-64',
    'Aged 65+',
]

genders = [
    'Male', 
    'All',
    'Female',
    'Females',
]

units = [
    'Thousands',
    '%'
]

seasonal_adjustments = [
    'SA',
    'NSA',   
]

metrics_list_dict = {}

metrics_list_dict['sector'] = sectors
metrics_list_dict['category'] = categories
metrics_list_dict['region'] = regions
metrics_list_dict['age'] = ages
metrics_list_dict['gender'] = genders
metrics_list_dict['unit'] = units
metrics_list_dict['seasonal_adjustment'] = seasonal_adjustments

In [37]:
unemployment_metrics

['LFS: ILO Unemployment rate annual change: UK: All: Aged 16 and over (pp): SA',
 'LFS: ILO Unemployment Level Annual Change: UK: All: Aged 16 and over (thousands): SA',
 'LFS: ILO Unemployment quarterly change: UK: All: Aged 16 and over (thousands): SA',
 'LFS: ILO Unemployment rate quarterly change: UK: All: Aged 16 and over (pp): SA',
 'LFS: ILO Unemployment: UK: All: Aged 65+: Thousands: SA',
 'LFS: ILO Unemployment: Females: Aged 65+: Thousands: SA',
 'LFS: ILO unemployment rate: UK: All: Aged 65+: %: SA',
 'LFS: ILO unemployment rate: UK: Female: Aged 65+: %: SA',
 'LFS: ILO unemployment rate: UK: All: Aged 50-64: %: SA',
 'LFS: ILO unemployment rate: UK: Female: Aged 50-64: %: SA',
 'LFS: ILO Unemployment rate: UK: All: Aged 16-64: %: SA',
 'LFS: ILO Unemployment rate: UK: Female: Aged 16-64: %: SA',
 'LFS: ILO unemployment rate: UK: All: Aged 16 and over: %: NSA',
 'LFS: ILO unemployment rate: UK: Male: Aged 16 and over: %: NSA',
 'LFS: ILO unemployment rate: UK: Female: Aged 16 and over: %: NSA',
 'LFS: ILO unemployment rate: UK: Male: Aged 50-64: %: SA',
 'LFS: ILO unemployment rate: UK: Male: Aged 65+: %: SA',
 'LFS: ILO unemployment rate: Aged 25-34: UK: All: %: SA',
 'LFS: ILO unemployment rate: Aged 25-34: UK: Male: %: SA',
 'LFS: ILO unemployment rate: Aged 25-34: UK: Female: %: SA',
 'LFS: ILO unemployment rate: Aged 35-49: UK: All: %: SA',
 'LFS: ILO unemployment rate: Aged 35-49: UK: Male: %: SA',
 'LFS: ILO unemployment rate: Aged 35-49: UK: Female: %: SA',
 'LFS: ILO unemployment rate: North East: All: %: SA',
 'LFS: ILO unemployment rate: North West (GOR): All: %: SA',
 'LFS: ILO unemployment rate: Yorks & the Humber: All: %: SA',
 'LFS: ILO unemployment rate: East Midlands: All: %: SA',
 'LFS: ILO unemployment rate: West Midlands: All: %: SA',
 'LFS: ILO unemployment rate: East: All: %: SA',
 'LFS: ILO unemployment rate: London: All: %: SA',
 'LFS: ILO unemployment rate: South East (GOR): All: %: SA',
 'LFS: ILO unemployment rate: South West: All: %: SA',
 'LFS: ILO unemployment rate: England: All: %: SA',
 'LFS: ILO unemployment rate: Wales: All: %: SA',
 'LFS: ILO unemployment rate: Scotland: All: %: SA',
 'LFS: ILO unemployment rate: Great Britain: All: %: SA',
 'LFS: ILO unemployment rate: North East: Male: %: SA',
 'LFS: ILO unemployment rate: North West (GOR): Male: %: SA',
 'LFS: ILO unemployment rate: Yorks & the Humber: Male: %: SA',
 'LFS: ILO unemployment rate: East Midlands: Male: %: SA',
 'LFS: ILO unemployment rate: West Midlands: Male: %: SA',
 'LFS: ILO unemployment rate: East: Male: %: SA',
 'LFS: ILO unemployment rate: London: Male: %: SA',
 'LFS: ILO unemployment rate: South East (GOR): Male: %: SA',
 'LFS: ILO unemployment rate: South West: Male: %: SA',
 'LFS: ILO unemployment rate: England: Male: %: SA',
 'LFS: ILO unemployment rate: Wales: Male: %: SA',
 'LFS: ILO unemployment rate: Scotland: Male: %: SA',
 'LFS: ILO unemployment rate: Great Britain: Male: %: SA',
 'LFS: ILO unemployment rate: North East: Female: %: SA',
 'LFS: ILO unemployment rate: North West (GOR): Female: %: SA',
 'LFS: ILO unemployment rate: Yorks & the Humber: Female: %: SA',
 'LFS: ILO unemployment rate: East Midlands: Female: %: SA',
 'LFS: ILO unemployment rate: West Midlands: Female: %: SA',
 'LFS: ILO unemployment rate: East: Female: %: SA',
 'LFS: ILO unemployment rate: London: Female: %: SA',
 'LFS: ILO unemployment rate: South East (GOR): Female: %: SA',
 'LFS: ILO unemployment rate: South West: Female: %: SA',
 'LFS: ILO unemployment rate: England: Female: %: SA',
 'LFS: ILO unemployment rate: Wales: Female: %: SA',
 'LFS: ILO unemployment rate: Scotland: Female: %: SA',
 'LFS: ILO unemployment rate: Great Britain: Female: %: SA',
 'LFS: ILO unemployment rate: Aged 16-24: UK: All: %: NSA',
 'LFS: ILO unemployment rate: Aged 16-24: UK: Male: %: NSA',
 'LFS: ILO unemployment rate: Aged 16-24: UK: Female: %: NSA',
 'LFS: ILO unemployment rate: Northern Ireland: All: %: SA',
 'LFS: ILO unemployment rate: Northern Ireland: Male: %: SA',
 'LFS: ILO unemployment rate: Northern Ireland: Female: %: SA']

In [38]:
metrics_list_dict

{'sector': ['LFS'],
 'category': ['ILO Unemployment',
  'ILO Unemployment Level Annual Change',
  'ILO Unemployment quarterly change',
  'ILO Unemployment rate',
  'ILO Unemployment rate annual change',
  'ILO Unemployment rate quarterly change',
  'ILO unemployment rate'],
 'region': ['East',
  'East Midlands',
  'England',
  'Great Britain',
  'Scotland',
  'South East (GOR)',
  'South West',
  'London',
  'UK',
  'Wales',
  'West Midlands',
  'Yorks & the Humber',
  'North East',
  'North West (GOR)',
  'Northern Ireland'],
 'age': ['Aged 16 and over',
  'Aged 16 and over (pp)',
  'Aged 16 and over (thousands)',
  'Aged 16-24',
  'Aged 16-64',
  'Aged 25-34',
  'Aged 35-49',
  'Aged 50-64',
  'Aged 65+'],
 'gender': ['Male', 'All', 'Female', 'Females'],
 'unit': ['Thousands', '%'],
 'seasonal_adjustment': ['SA', 'NSA']}

In [39]:
metrics_list = [
    'whole_metric', 
    'sector', 
    'category',
    'age',
    'gender',
    'region',
    'seasonal_adjustment',
    'unit'
]

In [40]:
metric_list = metrics_list + list_dates

In [41]:
list_of_unemployment_metric_dictionaries = []

for unemployment_metric in unemployment_metrics:
    individual_metric_dict = {} 

    individual_metric_dict['whole_metric'] = unemployment_metric

    for metric, metric_list in metrics_list_dict.items():
        for m in metric_list:
            for word in unemployment_metric.split(': '):
                if m == word:
                    individual_metric_dict[metric] = m

    if '(pp)' in unemployment_metric:
        individual_metric_dict['unit'] = '%'
    elif '(thousands)' in unemployment_metric:
        individual_metric_dict['unit'] = 'Thousands'

    for key in individual_metric_dict.keys():
        if key not in metrics_list_dict.keys() and key != 'whole_metric':
            individual_metric_dict[key] = None

    list_of_unemployment_metric_dictionaries.append(individual_metric_dict)

In [42]:
ilo_unemployment_statistics_dataframe = pd.DataFrame(columns=metric_list)
    
for i, unemployment_metric in enumerate(unemployment_metrics):
    for j in range(len(list_of_unemployment_metric_dictionaries)):
        if unemployment_metric == list_of_unemployment_metric_dictionaries[j]['whole_metric']:
            row_data = list_of_unemployment_metric_dictionaries[j]

            for date in list_dates:
                row_data[date] = None

            row_df = pd.DataFrame([row_data])

    ilo_unemployment_statistics_dataframe = pd.concat([ilo_unemployment_statistics_dataframe, row_df], ignore_index=True)

In [43]:
ilo_unemployment_statistics_dataframe

,SA,NSA,whole_metric,sector,category,region,age,gender,seasonal_adjustment,unit,...,2023 DEC,2024 JAN,2024 FEB,2024 MAR,2024 APR,2024 MAY,2024 JUN,2024 JUL,2024 AUG,2024 SEP
0,NaN,NaN,LFS: ILO Unemployment rate annual change: UK: ...,LFS,ILO Unemployment rate annual change,UK,Aged 16 and over (pp),All,SA,%,...,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,LFS: ILO Unemployment Level Annual Change: UK:...,LFS,ILO Unemployment Level Annual Change,UK,Aged 16 and over (thousands),All,SA,Thousands,...,None,None,None,None,None,None,None,None,None,None
2,NaN,NaN,LFS: ILO Unemployment quarterly change: UK: Al...,LFS,ILO Unemployment quarterly change,UK,Aged 16 and over (thousands),All,SA,Thousands,...,None,None,None,None,None,None,None,None,None,None
3,NaN,NaN,LFS: ILO Unemployment rate quarterly change: U...,LFS,ILO Unemployment rate quarterly change,UK,Aged 16 and over (pp),All,SA,%,...,None,None,None,None,None,None,None,None,None,None
4,NaN,NaN,LFS: ILO Unemployment: UK: All: Aged 65+: Thou...,LFS,ILO Unemployment,UK,Aged 65+,All,SA,Thousands,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,NaN,LFS: ILO unemployment rate: Aged 16-24: UK: Ma...,LFS,ILO unemployment rate,UK,Aged 16-24,Male,NSA,%,...,None,None,None,None,None,None,None,None,None,None
64,NaN,NaN,LFS: ILO unemployment rate: Aged 16-24: UK: Fe...,LFS,ILO unemployment rate,UK,Aged 16-24,Female,NSA,%,...,None,None,None,None,None,None,None,None,None,None
65,NaN,NaN,LFS: ILO unemployment rate: Northern Ireland: ...,LFS,ILO unemployment rate,Northern Ireland,NaN,All,SA,%,...,None,None,None,None,None,None,None,None,None,None
66,NaN,NaN,LFS: ILO unemployment rate: Northern Ireland: ...,LFS,ILO unemployment rate,Northern Ireland,NaN,Male,SA,%,...,None,None,None,None,None,None,None,None,None,None
67,NaN,NaN,LFS: ILO unemployment rate: Northern Ireland: ...,LFS,ILO unemployment rate,Northern Ireland,NaN,Female,SA,%,...,None,None,None,None,None,None,None,None,None,None

In [44]:
ilo_unemployment_statistics_dataframe.set_index('whole_metric', inplace=True)

In [45]:
for metric in unemployment_metrics:
    filter_lms_dataframe = labour_market_statistics_df.copy()
    filter_lms_dataframe = filter_lms_dataframe[['Title', metric]]
    for i in range(len(filter_lms_dataframe)):
        date_period = filter_lms_dataframe.iloc[i]['Title']
        value = filter_lms_dataframe.iloc[i][metric]
        ilo_unemployment_statistics_dataframe.at[metric, f'{date_period}'] = value

In [46]:
ilo_unemployment_statistics_dataframe = ilo_unemployment_statistics_dataframe.reset_index()

In [47]:
ilo_unemployment_statistics_dataframe.drop('whole_metric', axis=1, inplace=True)
ilo_unemployment_statistics_dataframe.drop('SA', axis=1, inplace=True)
ilo_unemployment_statistics_dataframe.drop('NSA', axis=1, inplace=True)

In [48]:
ilo_unemployment_statistics_dataframe.to_csv(r'../4_integrated_csv_files/ons_labour_market_statistics/ilo_unemployment_statistics.csv', index=False)

## 3. Employment Statistics

#### From my reading of the documentation I understand that the metrics relating to unemployment are under the labour force survey (LFS) and the particular ones of interest are those

In [49]:
metric_set = set()
employment_metrics = []

for metric in list_of_metrics:
    if "Public Sector Employment" in metric:
        for word in metric.replace(':', ';').split(';'):
            metric_set.add(word.strip().replace(".", "").lower())
        employment_metrics.append(metric)

    if "Private Sector Employment" in metric:
        for word in metric.replace(':', ';').split(';'):
            metric_set.add(word.strip().replace(".", "").lower())
        employment_metrics.append(metric)

In [50]:
employment_metrics

['Public Sector Employment by Sector; Total Public Sector; UK; HC; SA; Thousands',
 'Public Sector Employment by Sector; Civil Service; GB; HC; SA; Thousands',
 'Public Sector Employment by Industry;Construction;UK;HC;SA; Thousands',
 'Public Sector Employment by Industry;HM Forces;UK;HC;SA;Thousands',
 'Public Sector Employment by Industry;Police;UK;HC;SA;Thousands',
 'Public Sector Employment by Industry;Public Admin:UK;HC;SA;Thousands',
 'Public Sector Employment by Industry;Education:UK;HC;SA;Thousands.',
 'Public Sector Employment by Industry;NHS;UK;HC;SA;Thousands',
 'Public Sector Employment by Industry: Other Health & Social;UK;HC;SA;Thousands',
 'Public Sector Employment by Industry;Other Public Sector;UK;HC;SA;Thousands',
 'Private Sector Employment: UK; HC; SA; Thousands',
 'Public Sector Employment as % of Total Employment;UK;HC;SA;Percentage',
 'Private Sector Employment as % of Total Employment;UK;HC;SA;Percentage',
 'Private Sector Employment excl major reclassifications; UK;HC;SA;Percentage',
 'Public Sector Employment excl major reclassifications; UK; HC; SA; Thousands',
 'Public Sector Employment excl major reclassifications; UK; HC; SA; Percentage',
 'Private Sector Employment excl major reclassifications: UK; HC; SA; Thousands']

In [51]:
metric_set

{'civil service',
 'construction',
 'education',
 'gb',
 'hc',
 'hm forces',
 'nhs',
 'other health & social',
 'other public sector',
 'percentage',
 'police',
 'private sector employment',
 'private sector employment as % of total employment',
 'private sector employment excl major reclassifications',
 'public admin',
 'public sector employment as % of total employment',
 'public sector employment by industry',
 'public sector employment by sector',
 'public sector employment excl major reclassifications',
 'sa',
 'thousands',
 'total public sector',
 'uk'}

In [52]:
sectors = [
    'public sector employment',
    'private sector employment',
]

categories = [
    'public sector employment by industry',
    'public sector employment by sector',
    'total public sector',
    'public sector employment by sector',
    'private sector employment',
    'public sector employment excl major reclassifications',
    'public sector employment by sector',
    'private sector employment',
    'private sector employment as % of total employment',
    'private sector employment excl major reclassifications',
    'public sector employment as % of total employment',
]

industry_or_sector = [
    'civil service',
    'construction',
    'education',
    'hm forces',
    'nhs',
    'other health & social',
    'other public sector',
    'police',
    'public admin',
    'total public sector',
    'private sector'
]

seasonal_adjustments = [
     'sa'
]

regions = [ 
    'gb',
    'uk'
] 

units = [
    'thousands',
    'percentage',
]

In [53]:
metrics_list_dict = {}

metrics_list_dict['sector'] = sectors
metrics_list_dict['category'] = categories
metrics_list_dict['industry_or_sector'] = industry_or_sector
metrics_list_dict['region'] = regions
metrics_list_dict['unit'] = units
metrics_list_dict['seasonal_adjustment'] = seasonal_adjustments

In [54]:
metrics_list_dict

{'sector': ['public sector employment', 'private sector employment'],
 'category': ['public sector employment by industry',
  'public sector employment by sector',
  'total public sector',
  'public sector employment by sector',
  'private sector employment',
  'public sector employment excl major reclassifications',
  'public sector employment by sector',
  'private sector employment',
  'private sector employment as % of total employment',
  'private sector employment excl major reclassifications',
  'public sector employment as % of total employment'],
 'industry_or_sector': ['civil service',
  'construction',
  'education',
  'hm forces',
  'nhs',
  'other health & social',
  'other public sector',
  'police',
  'public admin',
  'total public sector',
  'private sector'],
 'region': ['gb', 'uk'],
 'unit': ['thousands', 'percentage'],
 'seasonal_adjustment': ['sa']}

In [55]:
metrics_list = [
    'whole_metric', 
    'sector', 
    'category',
    'industry_or_sector',
    'region',
    'unit',
    'seasonal_adjustment'
]

In [56]:
metric_list = metrics_list + list_dates

In [57]:
list_of_employment_metric_dictionaries = []

for employment_metric in employment_metrics:
    individual_metric_dict = {} 

    individual_metric_dict['whole_metric'] = employment_metric

    for metric, metric_list in metrics_list_dict.items():
        # print(metric)
        # print(metric_list)
        for m in metric_list:
            for word in employment_metric.lower().replace(':', ';').split(';'):
                word = word.strip().replace(".", "")
                if m == word:
                    individual_metric_dict[metric] = m
    
    if 'public sector' in employment_metric.lower():
        individual_metric_dict['sector'] = 'public sector'
    if 'private sector' in employment_metric.lower():
        individual_metric_dict['sector'] = 'private sector'
    
    print(individual_metric_dict)
                   
    for key in individual_metric_dict.keys():
        if key not in metrics_list_dict.keys() and key != 'whole_metric':
            individual_metric_dict[key] = None

    list_of_employment_metric_dictionaries.append(individual_metric_dict)

{'whole_metric': 'Public Sector Employment by Sector; Total Public Sector; UK; HC; SA; Thousands', 'category': 'public sector employment by sector', 'industry_or_sector': 'total public sector', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Sector; Civil Service; GB; HC; SA; Thousands', 'category': 'public sector employment by sector', 'industry_or_sector': 'civil service', 'region': 'gb', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;Construction;UK;HC;SA; Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'construction', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;HM Forces;UK;HC;SA;Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'hm forces', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;Police;UK;HC;SA;Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'police', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;Public Admin:UK;HC;SA;Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'public admin', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;Education:UK;HC;SA;Thousands.', 'category': 'public sector employment by industry', 'industry_or_sector': 'education', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;NHS;UK;HC;SA;Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'nhs', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry: Other Health & Social;UK;HC;SA;Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'other health & social', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment by Industry;Other Public Sector;UK;HC;SA;Thousands', 'category': 'public sector employment by industry', 'industry_or_sector': 'other public sector', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Private Sector Employment: UK; HC; SA; Thousands', 'sector': 'private sector', 'category': 'private sector employment', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa'}
{'whole_metric': 'Public Sector Employment as % of Total Employment;UK;HC;SA;Percentage', 'category': 'public sector employment as % of total employment', 'region': 'uk', 'unit': 'percentage', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Private Sector Employment as % of Total Employment;UK;HC;SA;Percentage', 'category': 'private sector employment as % of total employment', 'region': 'uk', 'unit': 'percentage', 'seasonal_adjustment': 'sa', 'sector': 'private sector'}
{'whole_metric': 'Private Sector Employment excl major reclassifications; UK;HC;SA;Percentage', 'category': 'private sector employment excl major reclassifications', 'region': 'uk', 'unit': 'percentage', 'seasonal_adjustment': 'sa', 'sector': 'private sector'}
{'whole_metric': 'Public Sector Employment excl major reclassifications; UK; HC; SA; Thousands', 'category': 'public sector employment excl major reclassifications', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Public Sector Employment excl major reclassifications; UK; HC; SA; Percentage', 'category': 'public sector employment excl major reclassifications', 'region': 'uk', 'unit': 'percentage', 'seasonal_adjustment': 'sa', 'sector': 'public sector'}
{'whole_metric': 'Private Sector Employment excl major reclassifications: UK; HC; SA; Thousands', 'category': 'private sector employment excl major reclassifications', 'region': 'uk', 'unit': 'thousands', 'seasonal_adjustment': 'sa', 'sector': 'private sector'}

In [58]:
list_of_employment_metric_dictionaries

[{'whole_metric': 'Public Sector Employment by Sector; Total Public Sector; UK; HC; SA; Thousands',
  'category': 'public sector employment by sector',
  'industry_or_sector': 'total public sector',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Sector; Civil Service; GB; HC; SA; Thousands',
  'category': 'public sector employment by sector',
  'industry_or_sector': 'civil service',
  'region': 'gb',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;Construction;UK;HC;SA; Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'construction',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;HM Forces;UK;HC;SA;Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'hm forces',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;Police;UK;HC;SA;Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'police',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;Public Admin:UK;HC;SA;Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'public admin',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;Education:UK;HC;SA;Thousands.',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'education',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;NHS;UK;HC;SA;Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'nhs',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry: Other Health & Social;UK;HC;SA;Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'other health & social',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment by Industry;Other Public Sector;UK;HC;SA;Thousands',
  'category': 'public sector employment by industry',
  'industry_or_sector': 'other public sector',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Private Sector Employment: UK; HC; SA; Thousands',
  'sector': 'private sector',
  'category': 'private sector employment',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa'},
 {'whole_metric': 'Public Sector Employment as % of Total Employment;UK;HC;SA;Percentage',
  'category': 'public sector employment as % of total employment',
  'region': 'uk',
  'unit': 'percentage',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Private Sector Employment as % of Total Employment;UK;HC;SA;Percentage',
  'category': 'private sector employment as % of total employment',
  'region': 'uk',
  'unit': 'percentage',
  'seasonal_adjustment': 'sa',
  'sector': 'private sector'},
 {'whole_metric': 'Private Sector Employment excl major reclassifications; UK;HC;SA;Percentage',
  'category': 'private sector employment excl major reclassifications',
  'region': 'uk',
  'unit': 'percentage',
  'seasonal_adjustment': 'sa',
  'sector': 'private sector'},
 {'whole_metric': 'Public Sector Employment excl major reclassifications; UK; HC; SA; Thousands',
  'category': 'public sector employment excl major reclassifications',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Public Sector Employment excl major reclassifications; UK; HC; SA; Percentage',
  'category': 'public sector employment excl major reclassifications',
  'region': 'uk',
  'unit': 'percentage',
  'seasonal_adjustment': 'sa',
  'sector': 'public sector'},
 {'whole_metric': 'Private Sector Employment excl major reclassifications: UK; HC; SA; Thousands',
  'category': 'private sector employment excl major reclassifications',
  'region': 'uk',
  'unit': 'thousands',
  'seasonal_adjustment': 'sa',
  'sector': 'private sector'}]

In [59]:
employment_statistics_dataframe = pd.DataFrame(columns=metric_list)
    
for i, employment_metric in enumerate(employment_metrics):
    for j in range(len(list_of_employment_metric_dictionaries)):
        if employment_metric == list_of_employment_metric_dictionaries[j]['whole_metric']:
            row_data = list_of_employment_metric_dictionaries[j]

            for date in list_dates:
                row_data[date] = None

            row_df = pd.DataFrame([row_data])

    employment_statistics_dataframe = pd.concat([employment_statistics_dataframe, row_df], ignore_index=True)

In [60]:
employment_statistics_dataframe

,sa,whole_metric,category,industry_or_sector,region,unit,seasonal_adjustment,sector,2018,2019,...,2023 DEC,2024 JAN,2024 FEB,2024 MAR,2024 APR,2024 MAY,2024 JUN,2024 JUL,2024 AUG,2024 SEP
0,NaN,Public Sector Employment by Sector; Total Publ...,public sector employment by sector,total public sector,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
1,NaN,Public Sector Employment by Sector; Civil Serv...,public sector employment by sector,civil service,gb,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
2,NaN,Public Sector Employment by Industry;Construct...,public sector employment by industry,construction,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
3,NaN,Public Sector Employment by Industry;HM Forces...,public sector employment by industry,hm forces,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
4,NaN,Public Sector Employment by Industry;Police;UK...,public sector employment by industry,police,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
5,NaN,Public Sector Employment by Industry;Public Ad...,public sector employment by industry,public admin,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
6,NaN,Public Sector Employment by Industry;Education...,public sector employment by industry,education,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
7,NaN,Public Sector Employment by Industry;NHS;UK;HC...,public sector employment by industry,nhs,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
8,NaN,Public Sector Employment by Industry: Other He...,public sector employment by industry,other health & social,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
9,NaN,Public Sector Employment by Industry;Other Pub...,public sector employment by industry,other public sector,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
10,NaN,Private Sector Employment: UK; HC; SA; Thousands,private sector employment,NaN,uk,thousands,sa,private sector,None,None,...,None,None,None,None,None,None,None,None,None,None
11,NaN,Public Sector Employment as % of Total Employm...,public sector employment as % of total employment,NaN,uk,percentage,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
12,NaN,Private Sector Employment as % of Total Employ...,private sector employment as % of total employ...,NaN,uk,percentage,sa,private sector,None,None,...,None,None,None,None,None,None,None,None,None,None
13,NaN,Private Sector Employment excl major reclassif...,private sector employment excl major reclassif...,NaN,uk,percentage,sa,private sector,None,None,...,None,None,None,None,None,None,None,None,None,None
14,NaN,Public Sector Employment excl major reclassifi...,public sector employment excl major reclassifi...,NaN,uk,thousands,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
15,NaN,Public Sector Employment excl major reclassifi...,public sector employment excl major reclassifi...,NaN,uk,percentage,sa,public sector,None,None,...,None,None,None,None,None,None,None,None,None,None
16,NaN,Private Sector Employment excl major reclassif...,private sector employment excl major reclassif...,NaN,uk,thousands,sa,private sector,None,None,...,None,None,None,None,None,None,None,None,None,None

In [61]:
employment_statistics_dataframe.set_index('whole_metric', inplace=True)

In [62]:
for metric in employment_metrics:
    filter_lms_dataframe = labour_market_statistics_df.copy()
    filter_lms_dataframe = filter_lms_dataframe[['Title', metric]]
    for i in range(len(filter_lms_dataframe)):
        date_period = filter_lms_dataframe.iloc[i]['Title']
        value = filter_lms_dataframe.iloc[i][metric]
        employment_statistics_dataframe.at[metric, f'{date_period}'] = value

In [63]:
employment_statistics_dataframe

,sa,category,industry_or_sector,region,unit,seasonal_adjustment,sector,2018,2019,2020,...,2023 DEC,2024 JAN,2024 FEB,2024 MAR,2024 APR,2024 MAY,2024 JUN,2024 JUL,2024 AUG,2024 SEP
whole_metric,,,,,,,,,,,,,,,,,,,,,
Public Sector Employment by Sector; Total Public Sector; UK; HC; SA; Thousands,NaN,public sector employment by sector,total public sector,uk,thousands,sa,public sector,5351,5395,5557,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Sector; Civil Service; GB; HC; SA; Thousands,NaN,public sector employment by sector,civil service,gb,thousands,sa,public sector,431,448,459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;Construction;UK;HC;SA; Thousands,NaN,public sector employment by industry,construction,uk,thousands,sa,public sector,35,36,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;HM Forces;UK;HC;SA;Thousands,NaN,public sector employment by industry,hm forces,uk,thousands,sa,public sector,154,153,157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;Police;UK;HC;SA;Thousands,NaN,public sector employment by industry,police,uk,thousands,sa,public sector,247,249,261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;Public Admin:UK;HC;SA;Thousands,NaN,public sector employment by industry,public admin,uk,thousands,sa,public sector,1028,1054,1072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;Education:UK;HC;SA;Thousands.,NaN,public sector employment by industry,education,uk,thousands,sa,public sector,1500,1496,1482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;NHS;UK;HC;SA;Thousands,NaN,public sector employment by industry,nhs,uk,thousands,sa,public sector,1650,1695,1783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry: Other Health & Social;UK;HC;SA;Thousands,NaN,public sector employment by industry,other health & social,uk,thousands,sa,public sector,222,215,209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment by Industry;Other Public Sector;UK;HC;SA;Thousands,NaN,public sector employment by industry,other public sector,uk,thousands,sa,public sector,514,499,557,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Private Sector Employment: UK; HC; SA; Thousands,NaN,private sector employment,NaN,uk,thousands,sa,private sector,27072,27411,27000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment as % of Total Employment;UK;HC;SA;Percentage,NaN,public sector employment as % of total employment,NaN,uk,percentage,sa,public sector,16.5,16.4,17.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Private Sector Employment as % of Total Employment;UK;HC;SA;Percentage,NaN,private sector employment as % of total employ...,NaN,uk,percentage,sa,private sector,83.5,83.6,82.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Private Sector Employment excl major reclassifications; UK;HC;SA;Percentage,NaN,private sector employment excl major reclassif...,NaN,uk,percentage,sa,private sector,83.8,83.8,83.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment excl major reclassifications; UK; HC; SA; Thousands,NaN,public sector employment excl major reclassifi...,NaN,uk,thousands,sa,public sector,5245,5306,5412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Public Sector Employment excl major reclassifications; UK; HC; SA; Percentage,NaN,public sector employment excl major reclassifi...,NaN,uk,percentage,sa,public sector,16.2,16.2,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Private Sector Employment excl major reclassifications: UK; HC; SA; Thousands,NaN,private sector employment excl major reclassif...,NaN,uk,thousands,sa,private sector,27178,27500,27145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
employment_statistics_dataframe = employment_statistics_dataframe.dropna(axis=1, how='all')

In [65]:
employment_statistics_dataframe = employment_statistics_dataframe.reset_index()

In [66]:
employment_statistics_dataframe.drop('whole_metric', axis=1, inplace=True)

In [67]:
employment_statistics_dataframe

,category,industry_or_sector,region,unit,seasonal_adjustment,sector,2018,2019,2020,2021,...,2022 Q1,2022 Q2,2022 Q3,2022 Q4,2023 Q1,2023 Q2,2023 Q3,2023 Q4,2024 Q1,2024 Q2
0,public sector employment by sector,total public sector,uk,thousands,sa,public sector,5351,5395,5557,5682,...,5735,5748,5766,5793,5827,5864,5899,5928,5956,5940
1,public sector employment by sector,civil service,gb,thousands,sa,public sector,431,448,459,498,...,512,512,513,515,521,522,529,535,544,546
2,public sector employment by industry,construction,uk,thousands,sa,public sector,35,36,36,34,...,35,34,34,34,34,33,34,34,35,35
3,public sector employment by industry,hm forces,uk,thousands,sa,public sector,154,153,157,160,...,158,157,156,154,152,150,150,148,148,148
4,public sector employment by industry,police,uk,thousands,sa,public sector,247,249,261,269,...,272,272,274,276,280,280,281,281,282,282
5,public sector employment by industry,public admin,uk,thousands,sa,public sector,1028,1054,1072,1119,...,1143,1143,1148,1152,1159,1175,1185,1196,1209,1216
6,public sector employment by industry,education,uk,thousands,sa,public sector,1500,1496,1482,1491,...,1497,1500,1496,1498,1502,1501,1507,1504,1498,1500
7,public sector employment by industry,nhs,uk,thousands,sa,public sector,1650,1695,1783,1847,...,1874,1884,1898,1917,1938,1962,1983,2005,2017,2027
8,public sector employment by industry,other health & social,uk,thousands,sa,public sector,222,215,209,209,...,212,213,213,212,210,211,209,208,206,205
9,public sector employment by industry,other public sector,uk,thousands,sa,public sector,514,499,557,550,...,543,545,549,550,551,550,553,555,559,524
10,private sector employment,NaN,uk,thousands,sa,private sector,27072,27411,27000,26807,...,27122,27172,27185,27306,27499,27218,27297,27179,27011,27292
11,public sector employment as % of total employment,NaN,uk,percentage,sa,public sector,16.5,16.4,17.1,17.5,...,17.5,17.5,17.5,17.5,17.5,17.7,17.8,17.9,18.1,17.9
12,private sector employment as % of total employ...,NaN,uk,percentage,sa,private sector,83.5,83.6,82.9,82.5,...,82.5,82.5,82.5,82.5,82.5,82.3,82.2,82.1,81.9,82.1
13,private sector employment excl major reclassif...,NaN,uk,percentage,sa,private sector,83.8,83.8,83.4,82.9,...,83.0,83.0,82.9,82.9,82.9,82.7,82.6,82.5,82.4,82.4
14,public sector employment excl major reclassifi...,NaN,uk,thousands,sa,public sector,5245,5306,5412,5540,...,5595,5609,5626,5653,5688,5725,5762,5791,5816,5841
15,public sector employment excl major reclassifi...,NaN,uk,percentage,sa,public sector,16.2,16.2,16.6,17.1,...,17.0,17.0,17.1,17.1,17.1,17.3,17.4,17.5,17.6,17.6
16,private sector employment excl major reclassif...,NaN,uk,thousands,sa,private sector,27178,27500,27145,26949,...,27262,27311,27325,27446,27638,27357,27434,27316,27151,27391

In [68]:
employment_statistics_dataframe.to_csv(r'../4_integrated_csv_files/ons_labour_market_statistics/employment_statistics.csv', index=False)